In [1]:
# import modules
import os, sys
import numpy as np
import pandas as pd

In [2]:
# load and select only putative edited sites WT
wt = pd.read_csv("WT.df_CT_predicted_aggregated_iforest_apobec1_pvalues.tsv", index_col=0)
wt = wt.query("y_hat == 1").query("p_value < 0.01").query("Tfreq_corrected > 0.05")
wt

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
117,chr1,4915443,+,5,3,54,0.092593,0.055556,TACAA,1,0.000049
120,chr1,4915467,+,5,4,55,0.090909,0.072727,TACAG,1,0.005247
136,chr1,4915694,+,7,4,51,0.137255,0.078431,TACTA,1,0.000521
192,chr1,4916336,+,20,4,67,0.298507,0.059701,GCCGA,1,0.000316
199,chr1,4916384,+,13,4,65,0.200000,0.061538,TACTG,1,0.001750
...,...,...,...,...,...,...,...,...,...,...,...
387801,chrX,135147776,+,15,12,56,0.267857,0.214286,AACTT,1,0.000023
387803,chrX,135147837,+,11,7,52,0.211538,0.134615,AACAC,1,0.001189
387804,chrX,135147839,+,8,7,53,0.150943,0.132075,CACGC,1,0.000272
387832,chrX,135633808,-,38,11,126,0.301587,0.087302,AACAT,1,0.008177
389040,chrX,161555202,+,23,10,124,0.185484,0.080645,GACTG,1,0.000465

In [3]:
# load and select only putative edited sites KO
ko = pd.read_csv("KO.df_CT_predicted_aggregated_iforest_apobec1_pvalues.tsv", index_col=0)
ko = ko.query("y_hat == 1").query("p_value < 0.01").query("Tfreq_corrected > 0.05")
ko

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
309,chr1,4916336,+,25,7,104,0.240385,0.067308,GCCGA,1,0.000316
3269,chr1,30981134,-,17,4,51,0.333333,0.078431,GTCTG,1,0.004376
3472,chr1,34475857,-,11,4,69,0.159420,0.057971,TTCTT,1,0.000048
6227,chr1,43789117,-,16,3,51,0.313725,0.058824,TGCTG,1,0.002314
6575,chr1,45856512,+,25,10,66,0.378788,0.151515,TACTG,1,0.009936
...,...,...,...,...,...,...,...,...,...,...,...
518124,chrX,37508799,-,13,5,79,0.164557,0.063291,TTCTA,1,0.000814
521723,chrX,74152885,+,25,5,68,0.367647,0.073529,CTCTG,1,0.000898
525101,chrX,133507437,+,53,35,60,0.883333,0.583333,TACGT,1,0.000231
525218,chrX,135633808,-,51,9,149,0.342282,0.060403,AACAT,1,0.008177
525219,chrX,135633812,-,59,11,172,0.343023,0.063953,TTCTA,1,0.006336

In [4]:
wt.Tfreq_corrected.describe()

count    358.000000
mean       0.106514
std        0.120755
min        0.050473
25%        0.057692
50%        0.071429
75%        0.096619
max        0.878378
Name: Tfreq_corrected, dtype: float64

In [5]:
ko.Tfreq_corrected.describe()

count    241.000000
mean       0.116997
std        0.151742
min        0.050505
25%        0.057692
50%        0.068966
75%        0.092593
max        0.916667
Name: Tfreq_corrected, dtype: float64

In [6]:
common_sites = pd.merge(wt[["region", "position", "strand"]], ko[["region", "position", "strand"]], how="inner")
common_sites

   region   position strand
0    chr1    4916336      +
1    chr1   34475857      -
2    chr1   63190868      -
3    chr1  134332313      +
4    chr1  162422387      +
..    ...        ...    ...
83   chr9  104954570      +
84   chrM       3524      +
85   chrX   37508724      -
86   chrX  133507437      +
87   chrX  135633808      -

[88 rows x 3 columns]

In [7]:
# filter out wt sites in common with ko to retrieve reliable editing sites
wt_reliable = wt.copy()
for s in wt.itertuples():
    if not common_sites[(common_sites["region"] == s.region)&(common_sites["position"] == s.position)&(common_sites["strand"] == s.strand)].empty:
         wt_reliable.drop(s.Index, inplace=True)
wt_reliable

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
117,chr1,4915443,+,5,3,54,0.092593,0.055556,TACAA,1,0.000049
120,chr1,4915467,+,5,4,55,0.090909,0.072727,TACAG,1,0.005247
136,chr1,4915694,+,7,4,51,0.137255,0.078431,TACTA,1,0.000521
199,chr1,4916384,+,13,4,65,0.200000,0.061538,TACTG,1,0.001750
401,chr1,4967044,+,10,8,106,0.094340,0.075472,AACTA,1,0.000271
...,...,...,...,...,...,...,...,...,...,...,...
387721,chrX,133507395,+,10,6,55,0.181818,0.109091,TACTT,1,0.000144
387801,chrX,135147776,+,15,12,56,0.267857,0.214286,AACTT,1,0.000023
387803,chrX,135147837,+,11,7,52,0.211538,0.134615,AACAC,1,0.001189
387804,chrX,135147839,+,8,7,53,0.150943,0.132075,CACGC,1,0.000272
389040,chrX,161555202,+,23,10,124,0.185484,0.080645,GACTG,1,0.000465

In [8]:
# save to disk as vcf file
output_filepaht = "reliable_ed_pos_iforest.vcf"
with open(output_filepaht, "w") as out_vcf:
    for s in wt_reliable.itertuples():
        region = s.region.split("chr")[1]
        position = s.position
        site = f"{region}\t{position}\t{position}\tC\tT\n"
        out_vcf.write(site)

with open(output_filepaht) as f:
    print(f.read())

1	4915443	4915443	C	T
1	4915467	4915467	C	T
1	4915694	4915694	C	T
1	4916384	4916384	C	T
1	4967044	4967044	C	T
1	4967240	4967240	C	T
1	10105387	10105387	C	T
1	30981426	30981426	C	T
1	39590526	39590526	C	T
1	87647422	87647422	C	T
1	88146699	88146699	C	T
1	95261894	95261894	C	T
1	106699005	106699005	C	T
1	118261254	118261254	C	T
1	156257378	156257378	C	T
1	156257526	156257526	C	T
1	160030625	160030625	C	T
1	170956838	170956838	C	T
1	173281876	173281876	C	T
1	182103943	182103943	C	T
1	182103970	182103970	C	T
1	191086813	191086813	C	T
10	17887230	17887230	C	T
10	17887338	17887338	C	T
10	40163958	40163958	C	T
10	57392081	57392081	C	T
10	57392790	57392790	C	T
10	62292031	62292031	C	T
10	62292185	62292185	C	T
10	88579405	88579405	C	T
10	88579409	88579409	C	T
10	93696816	93696816	C	T
10	117185123	117185123	C	T
10	128197551	128197551	C	T
11	20175333	20175333	C	T
11	29692507	29692507	C	T
11	29692828	29692828	C	T
11	29692881	29692881	C	T
11	49995461	49995461	C	T
11	50186566	50186566	C	T
11	50276961	50276961	C	T
11	52137457	52137457	C	T
11	88814929	88814929	C	T
11	98886196	98886196	C	T
11	109559549	109559549	C	T
11	109559939	109559939	C	T
12	31646149	31646149	C	T
12	33026109	33026109	C	T
12	37631848	37631848	C	T
12	54692685	54692685	C	T
12	54692963	54692963	C	T
12	59090053	59090053	C	T
12	59236862	59236862	C	T
12	69232458	69232458	C	T
12	73993540	73993540	C	T
12	85389705	85389705	C	T
12	105006932	105006932	C	T
12	110824690	110824690	C	T
12	110824737	110824737	C	T
12	110824747	110824747	C	T
13	8941545	8941545	C	T
13	8942336	8942336	C	T
13	32003582	32003582	C	T
13	38829709	38829709	C	T
13	47239196	47239196	C	T
13	47239251	47239251	C	T
13	47239273	47239273	C	T
13	54261534	54261534	C	T
13	58273742	58273742	C	T
13	58275022	58275022	C	T
13	58539267	58539267	C	T
13	60790042	60790042	C	T
13	64511709	64511709	C	T
13	74451771	74451771	C	T
13	86193003	86193003	C	T
14	14303617	14303617	C	T
14	21498370	21498370	C	T
14	21498377	21498377	C	T
14	45586248	45586248	C	T
14	101903200	101903200	C	T
15	4183575	4183575	C	T
15	4183636	4183636	C	T
15	38692148	38692148	C	T
15	79556601	79556601	C	T
15	82088584	82088584	C	T
15	99306501	99306501	C	T
15	100158833	100158833	C	T
16	19994998	19994998	C	T
16	43905994	43905994	C	T
17	15714679	15714679	C	T
17	25483817	25483817	C	T
17	26875558	26875558	C	T
17	71965582	71965582	C	T
18	9386736	9386736	C	T
18	38460652	38460652	C	T
18	38597681	38597681	C	T
18	38598005	38598005	C	T
18	56885845	56885845	C	T
19	53361058	53361058	C	T
2	4943499	4943499	C	T
2	5799498	5799498	C	T
2	22830685	22830685	C	T
2	57105163	57105163	C	T
2	71251023	71251023	C	T
2	72923800	72923800	C	T
2	72923839	72923839	C	T
2	78750613	78750613	C	T
2	83492503	83492503	C	T
2	94243207	94243207	C	T
2	109730954	109730954	C	T
2	119417327	119417327	C	T
2	121983221	121983221	C	T
2	121983223	121983223	C	T
2	121983383	121983383	C	T
2	143784941	143784941	C	T
2	144092978	144092978	C	T
2	156230398	156230398	C	T
2	163469818	163469818	C	T
3	8995738	8995738	C	T
3	8995760	8995760	C	T
3	36503211	36503211	C	T
3	36503275	36503275	C	T
3	60535046	60535046	C	T
3	60535658	60535658	C	T
3	60535767	60535767	C	T
3	60536098	60536098	C	T
3	60537098	60537098	C	T
3	65287165	65287165	C	T
3	65287211	65287211	C	T
3	95463602	95463602	C	T
3	95463607	95463607	C	T
3	95852865	95852865	C	T
3	103085916	103085916	C	T
3	103085988	103085988	C	T
3	107571347	107571347	C	T
3	108014820	108014820	C	T
3	137572302	137572302	C	T
3	137572304	137572304	C	T
3	138261791	138261791	C	T
3	144302754	144302754	C	T
3	144302767	144302767	C	T
3	144302773	144302773	C	T
3	144303199	144303199	C	T
3	144303203	144303203	C	T
3	144303234	144303234	C	T
3	144303386	144303386	C	T
3	144303388	144303388	C	T
4	6394955	6394955	C	T
4	6395221	6395221	C	T
4	6395365	6395365	C	T
4	53567705	53567705	C	T
4	107901127	107901127	C	T
4	107901258	107901258	C	T
4	109518296	109518296	C	T
4	114817867	114817867	C	T
4	114818042	114818042	C	T
4	126924089	126924089	C	T
4	129624078	129624078	C	T
4	133692496	133692496	C	T
4	133692794	133692794	C	T
4	136067680	136067680	C	T
5	22000108	22000108	C	T
5	25008327	25008327	C	T
5	32649018	32649018	C	T
5	32649102	32649102	C	T
5	65607231	65607231	C	T
5	77115311	77115311	C	T
5	84271804	84271804	C	T
5	93330058	93330058	C	T
5	93330593	93330593	C	T
5	124687539	124687539	C	T
5	135937635	135937635	C	T
5	143491732	143491732	C	T
5	148441858	148441858	C	T
6	8256019	8256019	C	T
6	13869915	13869915	C	T
6	13869969	13869969	C	T
6	13871056	13871056	C	T
6	18853911	18853911	C	T
6	35487433	35487433	C	T
6	51459718	51459718	C	T
6	51459809	51459809	C	T
6	52523340	52523340	C	T
6	71262084	71262084	C	T
6	83317222	83317222	C	T
6	86501610	86501610	C	T
6	86714447	86714447	C	T
6	86714556	86714556	C	T
6	86714562	86714562	C	T
6	87976624	87976624	C	T
6	87976841	87976841	C	T
6	91735541	91735541	C	T
6	116151178	116151178	C	T
6	116151180	116151180	C	T
6	125107289	125107289	C	T
6	125437478	125437478	C	T
6	137728425	137728425	C	T
6	142721051	142721051	C	T
6	144945403	144945403	C	T
6	146932674	146932674	C	T
7	45532662	45532662	C	T
7	89857310	89857310	C	T
7	99488301	99488301	C	T
7	110670927	110670927	C	T
7	110671051	110671051	C	T
7	113815037	113815037	C	T
7	126579530	126579530	C	T
7	132159290	132159290	C	T
7	132159563	132159563	C	T
8	23731491	23731491	C	T
8	39618086	39618086	C	T
8	72906950	72906950	C	T
8	80411194	80411194	C	T
8	86265583	86265583	C	T
8	127661397	127661397	C	T
8	127661473	127661473	C	T
9	7793825	7793825	C	T
9	14421604	14421604	C	T
9	48400633	48400633	C	T
9	56043382	56043382	C	T
9	56043464	56043464	C	T
9	58560014	58560014	C	T
9	64624014	64624014	C	T
9	65809178	65809178	C	T
9	66046157	66046157	C	T
9	70687152	70687152	C	T
9	71390859	71390859	C	T
9	86463872	86463872	C	T
9	86464720	86464720	C	T
9	120789138	120789138	C	T
9	120789166	120789166	C	T
9	120789285	120789285	C	T
X	8009000	8009000	C	T
X	12482197	12482197	C	T
X	12482227	12482227	C	T
X	12482720	12482720	C	T
X	12482895	12482895	C	T
X	12482961	12482961	C	T
X	13158049	13158049	C	T
X	13158129	13158129	C	T
X	13158579	13158579	C	T
X	13159554	13159554	C	T
X	13160072	13160072	C	T
X	37508408	37508408	C	T
X	37508643	37508643	C	T
X	37509088	37509088	C	T
X	37509507	37509507	C	T
X	37509715	37509715	C	T
X	37509754	37509754	C	T
X	37510194	37510194	C	T
X	37510442	37510442	C	T
X	72730011	72730011	C	T
X	73314565	73314565	C	T
X	79501829	79501829	C	T
X	95211562	95211562	C	T
X	95211695	95211695	C	T
X	95211736	95211736	C	T
X	95211766	95211766	C	T
X	108204275	108204275	C	T
X	108204313	108204313	C	T
X	108204611	108204611	C	T
X	108204658	108204658	C	T
X	108205780	108205780	C	T
X	108205801	108205801	C	T
X	133438540	133438540	C	T
X	133507395	133507395	C	T
X	135147776	135147776	C	T
X	135147837	135147837	C	T
X	135147839	135147839	C	T
X	161555202	161555202	C	T

In [9]:
!/lustrehome/afonzino/annovar/table_annovar.pl reliable_ed_pos_iforest.vcf /lustrehome/afonzino/annovar/mousedb/ -buildver mm39 -out reliable_ed_pos_iforest.annotated -protocol refGene -operation g -nastring . --remove -polish

-----------------------------------------------------------------
NOTICE: Processing operation=g protocol=refGene

NOTICE: Running with system command <annotate_variation.pl -geneanno -buildver mm39 -dbtype refGene -outfile reliable_ed_pos_iforest.annotated.refGene -exonsort -nofirstcodondel reliable_ed_pos_iforest.vcf /lustrehome/afonzino/annovar/mousedb/>
NOTICE: Output files are written to reliable_ed_pos_iforest.annotated.refGene.variant_function, reliable_ed_pos_iforest.annotated.refGene.exonic_variant_function
NOTICE: Reading gene annotation from /lustrehome/afonzino/annovar/mousedb/mm39_refGene.txt ... Done with 47741 transcripts (including 8698 without coding sequence annotation) for 26264 unique genes
NOTICE: Processing next batch with 270 unique variants in 270 input lines
NOTICE: Reading FASTA sequences from /lustrehome/afonzino/annovar/mousedb/mm39_refGeneMrna.fa ... Done with 0 sequences
WARNING: A total of 24 sequences cannot be found in /lustrehome/afonzino/annovar/mousedb/mm39_refGeneMrna.fa
 (example: NM_011623#11#98883772 NM_013715#1#10094824 NM_011185#17#15695982)

NOTICE: Running with system command <coding_change.pl  reliable_ed_pos_iforest.annotated.refGene.exonic_variant_function.orig /lustrehome/afonzino/annovar/mousedb//mm39_refGene.txt /lustrehome/afonzino/annovar/mousedb//mm39_refGeneMrna.fa -alltranscript -out reliable_ed_pos_iforest.annotated.refGene.fa -newevf reliable_ed_pos_iforest.annotated.refGene.exonic_variant_function>
-----------------------------------------------------------------
NOTICE: Multianno output file is written to reliable_ed_pos_iforest.annotated.mm39_multianno.txt

In [10]:
# load annotations
reliable_iforest_annotated = pd.read_table("reliable_ed_pos_iforest.annotated.mm39_multianno.txt")
reliable_iforest_annotated

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene
0,1,4915443,4915443,C,T,UTR3,Lypla1,NM_001355712:c.*204C>T;NM_008866:c.*204C>T,.,.
1,1,4915467,4915467,C,T,UTR3,Lypla1,NM_001355712:c.*228C>T;NM_008866:c.*228C>T,.,.
2,1,4915694,4915694,C,T,UTR3,Lypla1,NM_001355712:c.*455C>T;NM_008866:c.*455C>T,.,.
3,1,4916384,4916384,C,T,UTR3,Lypla1,NM_001355712:c.*1145C>T;NM_008866:c.*1145C>T,.,.
4,1,4967044,4967044,C,T,UTR3,Tcea1,NM_001159750:c.*457C>T;NM_011541:c.*457C>T;NM_...,.,.
...,...,...,...,...,...,...,...,...,...,...
265,X,133507395,133507395,C,T,UTR3,Hnrnph2,NM_001313716:c.*389C>T;NM_001313717:c.*389C>T;...,.,.
266,X,135147776,135147776,C,T,UTR3,Tceal9,NM_011712:c.*347C>T,.,.
267,X,135147837,135147837,C,T,UTR3,Tceal9,NM_011712:c.*408C>T,.,.
268,X,135147839,135147839,C,T,UTR3,Tceal9,NM_011712:c.*410C>T,.,.
269,X,161555202,161555202,C,T,exonic,Rbbp7,.,unknown,UNKNOWN

In [11]:
# evaluate region
reliable_iforest_annotated["Func.refGene"].value_counts()

UTR3              233
exonic             18
intronic            9
ncRNA_exonic        3
UTR5                2
downstream          2
intergenic          2
ncRNA_intronic      1
Name: Func.refGene, dtype: int64

In [12]:
# visualize most impacted genes
reliable_iforest_annotated["Gene.refGene"].value_counts()

Selenof    8
Lamp2      8
Sh3bgrl    6
Mbnl1      5
Atp6ap2    5
          ..
Psmb1      1
Ube2i      1
Ergic1     1
Wdr43      1
Rbbp7      1
Name: Gene.refGene, Length: 181, dtype: int64

In [13]:
# visualize B2m 1st site
reliable_iforest_annotated.query("Chr == '2'").query("Start == 121983221")

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene
111,2,121983221,121983221,C,T,UTR3,B2m,NM_009735:c.*105C>T,.,.

In [14]:
# visualize B2m 2nd site
reliable_iforest_annotated.query("Chr == '2'").query("Start == 121983223")

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene
112,2,121983223,121983223,C,T,UTR3,B2m,NM_009735:c.*107C>T,.,.

In [18]:
reliable_iforest_annotated[reliable_iforest_annotated['Func.refGene'] == 'exonic']

,Chr,Start,End,Ref,Alt,Func.refGene,Gene.refGene,GeneDetail.refGene,ExonicFunc.refGene,AAChange.refGene
6,1,10105387,10105387,C,T,exonic,Cops5,.,unknown,UNKNOWN
21,1,191086813,191086813,C,T,exonic,Ppp2r5a,.,unknown,UNKNOWN
43,11,98886196,98886196,C,T,exonic,Top2a,.,unknown,UNKNOWN
53,12,69232458,69232458,C,T,exonic,Mgat2,.,unknown,UNKNOWN
79,14,101903200,101903200,C,T,exonic,Uchl3,.,unknown,UNKNOWN
89,17,15714679,15714679,C,T,exonic,Psmb1,.,unknown,UNKNOWN
90,17,25483817,25483817,C,T,exonic,Ube2i,.,unknown,UNKNOWN
93,18,9386736,9386736,C,T,exonic,Ccny,.,unknown,UNKNOWN
103,2,71251023,71251023,C,T,exonic,Hat1,.,unknown,UNKNOWN
107,2,83492503,83492503,C,T,exonic,Zc3h15,.,unknown,UNKNOWN
117,2,163469818,163469818,C,T,exonic,Serinc3,.,unknown,UNKNOWN
157,4,129624078,129624078,C,T,exonic,Khdrbs1,.,unknown,UNKNOWN
161,5,22000108,22000108,C,T,exonic,Psmc2,.,unknown,UNKNOWN
184,6,83317222,83317222,C,T,exonic,Mob1a,.,unknown,UNKNOWN
197,6,142721051,142721051,C,T,exonic,Cmas,.,unknown,UNKNOWN
217,9,14421604,14421604,C,T,exonic,Cwc15,.,unknown,UNKNOWN
226,9,71390859,71390859,C,T,exonic,Polr2m,.,unknown,UNKNOWN
269,X,161555202,161555202,C,T,exonic,Rbbp7,.,unknown,UNKNOWN

In [19]:
wt_reliable.query("region == 'chr1'").query("position == 10105387")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
889,chr1,10105387,-,9,8,108,0.083333,0.074074,GTCAC,1,0.004167