## Basecalling features (iForest algorithm) aggregated results filtering on well known SNPs and m5C positions with APOBEC1 model filtering

In [1]:
# import basic modules
import pandas as pd
from tqdm import tqdm
import pysam

In [2]:
# define input paths (results with pvalues for apobec1 motif computed in notebook "Consensus_analysis_wt_ko.basecalling_features")
ref_filepath = "/lustre/bio_running/C_to_U_editing/refs/GRCm39.genome.fa"
ko_bam_filepath = "/lustre/bio_running/C_to_U_editing_minimap2_spliced/ko.bam"
wt = pd.read_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr//WT.df_CT_predicted_aggregated_iforest_apobec1_pvalues.tsv", index_col=0)
ko = pd.read_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr//KO.df_CT_predicted_aggregated_iforest_apobec1_pvalues.tsv", index_col=0)

In [3]:
# show wt dataframe of aggregated results
wt

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4846611,-,2,0,100,0.020000,0.0,GTCTG,0,1.0
1,chr1,4846619,-,1,0,101,0.009901,0.0,AGCTT,0,1.0
2,chr1,4846635,-,5,0,77,0.064935,0.0,TTCTT,0,1.0
3,chr1,4846643,-,3,0,103,0.029126,0.0,CACAT,0,1.0
4,chr1,4846645,-,3,0,103,0.029126,0.0,TGCAC,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
389965,chrY,90804626,+,2,0,66,0.030303,0.0,AGCGG,0,1.0
389966,chrY,90804632,+,1,0,67,0.014925,0.0,CGCCG,0,1.0
389967,chrY,90804649,+,1,0,58,0.017241,0.0,CTCTG,0,1.0
389968,chrY,90804680,+,2,0,60,0.033333,0.0,CTCCA,0,1.0
389969,chrY,90804681,+,1,0,56,0.017857,0.0,TCCAC,0,1.0

In [4]:
# show ko dataframe of aggregated results
ko

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4846611,-,2,0,113,0.017699,0.000,GTCTG,0,1.0
1,chr1,4846619,-,2,0,121,0.016529,0.000,AGCTT,0,1.0
2,chr1,4846635,-,7,0,98,0.071429,0.000,TTCTT,0,1.0
3,chr1,4846643,-,2,1,125,0.016000,0.008,CACAT,0,1.0
4,chr1,4846645,-,4,1,125,0.032000,0.008,TGCAC,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
527697,chrY,90833612,+,3,0,54,0.055556,0.000,CGCCA,0,1.0
527698,chrY,90833626,+,3,0,56,0.053571,0.000,GACTG,0,1.0
527699,chrY,90833629,+,6,0,55,0.109091,0.000,TGCGT,0,1.0
527700,chrY,90833633,+,2,0,56,0.035714,0.000,TACAG,0,1.0
527701,chrY,90833648,+,1,0,55,0.018182,0.000,CTCAA,0,1.0

In [5]:
# focus on sites with called edited sites
wt.query("y_hat == 1")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
39,chr1,4846920,-,5,3,100,0.050000,0.030000,ACCGG,1,1.000000
94,chr1,4855808,-,4,3,101,0.039604,0.029703,AACTC,1,1.000000
103,chr1,4855906,-,58,27,61,0.950820,0.442623,CGCGG,1,1.000000
114,chr1,4915375,+,3,2,51,0.058824,0.039216,GACTA,1,0.014747
116,chr1,4915426,+,2,2,51,0.039216,0.039216,TGCAT,1,0.001079
...,...,...,...,...,...,...,...,...,...,...,...
389870,chrY,90795947,+,2,2,60,0.033333,0.033333,GACGT,1,1.000000
389889,chrY,90796962,+,7,3,64,0.109375,0.046875,CGCAC,1,1.000000
389895,chrY,90797004,+,7,3,59,0.118644,0.050847,GCCGA,1,1.000000
389949,chrY,90797238,+,3,2,62,0.048387,0.032258,CGCAC,1,1.000000
389964,chrY,90804618,+,4,2,65,0.061538,0.030769,CACGT,1,1.000000

In [6]:
# focus on sites with called edited sites (iForest model training dataset) and filtered by APOBEC1
wt.query("y_hat == 1").query("p_value < 0.01")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
116,chr1,4915426,+,2,2,51,0.039216,0.039216,TGCAT,1,0.001079
117,chr1,4915443,+,5,3,54,0.092593,0.055556,TACAA,1,0.000049
120,chr1,4915467,+,5,4,55,0.090909,0.072727,TACAG,1,0.005247
136,chr1,4915694,+,7,4,51,0.137255,0.078431,TACTA,1,0.000521
140,chr1,4915760,+,2,2,58,0.034483,0.034483,GTCAA,1,0.009496
...,...,...,...,...,...,...,...,...,...,...,...
388552,chrX,154115400,-,9,4,125,0.072000,0.032000,TACTG,1,0.000807
388632,chrX,156228730,-,5,3,60,0.083333,0.050000,GACTT,1,0.002032
388737,chrX,158165691,+,6,4,125,0.048000,0.032000,ATCAA,1,0.000734
389040,chrX,161555202,+,23,10,124,0.185484,0.080645,GACTG,1,0.000465
389187,chrX,161561670,+,24,7,169,0.142012,0.041420,AACTG,1,0.001552

In [7]:
ko.query("y_hat == 1")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
17,chr1,4846710,-,10,5,104,0.096154,0.048077,ATCTT,1,0.761332
79,chr1,4852826,-,12,3,141,0.085106,0.021277,CGCTT,1,1.000000
80,chr1,4852828,-,7,3,144,0.048611,0.020833,GCCGC,1,1.000000
123,chr1,4855883,-,13,3,118,0.110169,0.025424,CGCGG,1,1.000000
128,chr1,4855906,-,70,33,70,1.000000,0.471429,CGCGG,1,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
527646,chrY,90797234,+,8,4,95,0.084211,0.042105,CGCGC,1,1.000000
527648,chrY,90797238,+,6,3,96,0.062500,0.031250,CGCAC,1,1.000000
527666,chrY,90804616,+,4,2,93,0.043011,0.021505,CACAC,1,1.000000
527684,chrY,90827645,+,39,30,59,0.661017,0.508475,GACGG,1,1.000000
527694,chrY,90833582,+,38,30,56,0.678571,0.535714,GACGG,1,1.000000

In [8]:
ko.query("y_hat == 1").query("p_value < 0.01")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
287,chr1,4916168,+,13,2,96,0.135417,0.020833,AACTG,1,0.001260
306,chr1,4916319,+,9,2,87,0.103448,0.022989,TTCTT,1,0.000316
309,chr1,4916336,+,25,7,104,0.240385,0.067308,GCCGA,1,0.000316
460,chr1,4963782,+,12,3,90,0.133333,0.033333,TACAC,1,0.001785
529,chr1,4967134,+,8,2,96,0.083333,0.020833,TTCTT,1,0.001192
...,...,...,...,...,...,...,...,...,...,...,...
526198,chrX,156228730,-,5,3,68,0.073529,0.044118,GACTT,1,0.002032
526345,chrX,158168406,+,13,6,164,0.079268,0.036585,ATCTA,1,0.001369
526600,chrX,161552918,+,9,5,175,0.051429,0.028571,AACAC,1,0.005402
526772,chrX,161561670,+,21,6,218,0.096330,0.027523,AACTG,1,0.001552
526995,chrX,165638015,+,107,48,2118,0.050519,0.022663,CACTG,1,0.000217

In [9]:
# print intersection sites among WT and KO without correction
pd.merge(wt, ko, how="inner", on=["region", "position", "strand"]).shape[0]

308779

In [10]:
# print intersection sites among WT and KO with correction
pd.merge(wt.query("y_hat == 1"), ko.query("y_hat == 1"), how="inner", on=["region", "position", "strand"]).shape[0]

8017

In [11]:
# print intersection sites among WT and KO with correction and apobec1 model selection1
pd.merge(wt.query("y_hat == 1").query("p_value < 0.01"), 
         ko.query("y_hat == 1").query("p_value < 0.01"), 
         how="inner", 
         on=["region", "position", "strand"]).shape[0]

364

## SNPs filtering
Variations were downloaded from https://hgdownload.soe.ucsc.edu/goldenPath/mm10/database/snp142.txt.gz and lifted-over to mm39 by CrossMap.py script (used by ensembl webapp).

In [12]:
vcf_filepath = "/lustre/bio_running/C_to_U_editing/refs/mm10/snp142.mm39.bed"
vcf = pd.read_table(vcf_filepath, error_bad_lines=False, warn_bad_lines=False, header=None)
vcf

,0,1,2,3,4,5,6,7,8,9
0,chr1,3070116,3070117,rs580370473,0,+,G,G,G/T,genomic
1,chr1,3070175,3070176,rs585444580,0,+,G,G,G/T,genomic
2,chr1,3070224,3070225,rs579469519,0,+,G,G,A/G,genomic
3,chr1,3070248,3070249,rs582985490,0,+,G,G,G/T,genomic
4,chr1,3070249,3070250,rs586234354,0,+,T,T,G/T,genomic
...,...,...,...,...,...,...,...,...,...,...
82219295,chrY_JH584303v1_random,114969,114970,rs108306402,0,+,A,A,A/C,genomic
82219296,chrY_JH584303v1_random,115198,115199,rs108041287,0,+,C,C,A/C,genomic
82219297,chrY_JH584303v1_random,123248,123249,rs108213532,0,-,T,T,A/G,genomic
82219298,chrY_JH584303v1_random,125055,125056,rs107955593,0,-,T,T,A/T,genomic
82219299,chrY_JH584303v1_random,125058,125059,rs107906264,0,-,G,G,C/T,genomic

In [13]:
vcf_ed = vcf.iloc[:,[0,2,3,9]]

In [14]:
vcf_ed.shape

(82219300, 4)

In [15]:
vcf_ed

                               0        2            3        9
0                           chr1  3070117  rs580370473  genomic
1                           chr1  3070176  rs585444580  genomic
2                           chr1  3070225  rs579469519  genomic
3                           chr1  3070249  rs582985490  genomic
4                           chr1  3070250  rs586234354  genomic
...                          ...      ...          ...      ...
82219295  chrY_JH584303v1_random   114970  rs108306402  genomic
82219296  chrY_JH584303v1_random   115199  rs108041287  genomic
82219297  chrY_JH584303v1_random   123249  rs108213532  genomic
82219298  chrY_JH584303v1_random   125056  rs107955593  genomic
82219299  chrY_JH584303v1_random   125059  rs107906264  genomic

[82219300 rows x 4 columns]

In [16]:
vcf_ed.columns = ["region", "position", "name", "molType"]

In [17]:
vcf_ed.dtypes

region      object
position     int64
name        object
molType     object
dtype: object

In [18]:
vcf_ed

                          region  position         name  molType
0                           chr1   3070117  rs580370473  genomic
1                           chr1   3070176  rs585444580  genomic
2                           chr1   3070225  rs579469519  genomic
3                           chr1   3070249  rs582985490  genomic
4                           chr1   3070250  rs586234354  genomic
...                          ...       ...          ...      ...
82219295  chrY_JH584303v1_random    114970  rs108306402  genomic
82219296  chrY_JH584303v1_random    115199  rs108041287  genomic
82219297  chrY_JH584303v1_random    123249  rs108213532  genomic
82219298  chrY_JH584303v1_random    125056  rs107955593  genomic
82219299  chrY_JH584303v1_random    125059  rs107906264  genomic

[82219300 rows x 4 columns]

In [19]:
vcf_ed.molType.value_counts()

genomic    82210892
cDNA           8395
mito             13
Name: molType, dtype: int64

In [20]:
# selecting only genomic SNPs
vcf_ed = vcf_ed.query("molType == 'genomic'")
vcf_ed

                          region  position         name  molType
0                           chr1   3070117  rs580370473  genomic
1                           chr1   3070176  rs585444580  genomic
2                           chr1   3070225  rs579469519  genomic
3                           chr1   3070249  rs582985490  genomic
4                           chr1   3070250  rs586234354  genomic
...                          ...       ...          ...      ...
82219295  chrY_JH584303v1_random    114970  rs108306402  genomic
82219296  chrY_JH584303v1_random    115199  rs108041287  genomic
82219297  chrY_JH584303v1_random    123249  rs108213532  genomic
82219298  chrY_JH584303v1_random    125056  rs107955593  genomic
82219299  chrY_JH584303v1_random    125059  rs107906264  genomic

[82210892 rows x 4 columns]

In [21]:
# produce a set with vcf_ed positions as region:position format
with tqdm(total=vcf_ed.shape[0]) as pbar:
    vcf_ed_pos = set()
    for var in vcf_ed.itertuples():
        vcf_ed_pos.add(f"{var[1]}:{var[2]}")
        pbar.update(1)
vcf_ed_pos

100%|██████████| 82210892/82210892 [02:09<00:00, 637291.51it/s]

{'chr7:92040534',
 'chr11:8583861',
 'chr5:15999670',
 'chr15:51778576',
 'chr9:6709278',
 'chr4:138590124',
 'chr4:139214721',
 'chr1:33872788',
 'chr8:38201278',
 'chr14:95729242',
 'chr9:64437360',
 'chr8:62070660',
 'chr9:122060046',
 'chr4:84869767',
 'chr7:130885439',
 'chr2:118095955',
 'chr17:26301451',
 'chr14:88842265',
 'chr8:71676581',
 'chr2:11352423',
 'chr3:117919523',
 'chr11:92018130',
 'chr10:73743411',
 'chr11:109264463',
 'chr8:60531515',
 'chr8:127367637',
 'chr10:18147310',
 'chr5:98026307',
 'chr2:119735641',
 'chr15:98073254',
 'chr6:106999260',
 'chr1:100082123',
 'chr3:61821561',
 'chr11:79230401',
 'chr7:82058988',
 'chr15:22553305',
 'chr7:23972509',
 'chr2:160521030',
 'chr5:89513130',
 'chr19:54515619',
 'chr17:43087688',
 'chr11:110740285',
 'chr12:38773758',
 'chr7:122665847',
 'chr12:49947883',
 'chr16:57563658',
 'chr1:156601268',
 'chr14:37126615',
 'chr15:65630242',
 'chr13:86965476',
 'chr2:24400861',
 'chr11:9304356',
 'chr2:39313022',
 'chr5:40157020',
 'chr4:95256400',
 'chr6:19989160',
 'chr5:50767950',
 'chr13:114006415',
 'chr2:104178659',
 'chrX:81058955',
 'chr9:93885360',
 'chr13:53438522',
 'chr3:36509479',
 'chr1:100891005',
 'chr14:117912973',
 'chr15:9775111',
 'chr15:48984971',
 'chr6:143507038',
 'chr9:20112077',
 'chr11:94471639',
 'chr3:147035961',
 'chr10:101475195',
 'chr4:126369051',
 'chr11:22110056',
 'chr1:140209176',
 'chr6:58517033',
 'chr4:88315363',
 'chr11:116752053',
 'chr7:48698224',
 'chr4:57973128',
 'chr17:63945796',
 'chr2:115373731',
 'chr6:68627139',
 'chr8:85752946',
 'chr15:89749034',
 'chr14:13712777',
 'chr16:79954707',
 'chr17:55315923',
 'chr16:53596394',
 'chr2:53069848',
 'chr7:120359687',
 'chr9:32518374',
 'chr7:101498185',
 'chr8:37728755',
 'chrX:101874529',
 'chr11:98661724',
 'chr5:131040670',
 'chr9:48455631',
 'chr18:49641771',
 'chr5:46319887',
 'chr5:69359495',
 'chr9:119420444',
 'chr8:16466049',
 'chr17:80086634',
 'chr14:64331626',
 'chr14:101842506',
 'chr11:71035398',
 'chr19:16384663',
 'chrX:108245304',
 'chrX:162036784',
 'chr17:11294152',
 'chr1:184804892',
 'chr6:108082781',
 'chr10:130046818',
 'chr5:53629798',
 'chr17:65144381',
 'chrY:18241480',
 'chr17:75638587',
 'chr19:29455562',
 'chr11:43677428',
 'chr10:19915986',
 'chr15:94669867',
 'chr12:15068631',
 'chr3:36031765',
 'chr18:42336100',
 'chr2:56318409',
 'chr3:100074664',
 'chr5:82689574',
 'chr12:9942450',
 'chr7:143251526',
 'chr5:99716588',
 'chr19:12398403',
 'chr5:21557269',
 'chr8:8615540',
 'chr7:11542695',
 'chr9:34411436',
 'chr5:70044348',
 'chr8:103883589',
 'chr1:151884176',
 'chr1:37607134',
 'chr7:47995858',
 'chrX:49536336',
 'chr1:175460238',
 'chr8:59090725',
 'chr17:49227552',
 'chr15:92354403',
 'chr8:113659477',
 'chr1:159930457',
 'chr10:52913419',
 'chr4:52490303',
 'chr1:175726190',
 'chr12:68412331',
 'chr4:79274882',
 'chr4:154018012',
 'chr3:138404988',
 'chr12:90952561',
 'chr14:111674800',
 'chr2:7904348',
 'chr14:24318803',
 'chr2:103834337',
 'chr16:84272795',
 'chr14:32784963',
 'chr3:153980273',
 'chr8:5117058',
 'chr3:43876791',
 'chr5:18890459',
 'chr9:58177161',
 'chr14:87645657',
 'chr18:7745436',
 'chr1:27329862',
 'chr13:71417863',
 'chr18:25934196',
 'chr11:102234041',
 'chr1:110095545',
 'chr7:43995281',
 'chr18:56620418',
 'chr14:83859702',
 'chr8:9990690',
 'chr8:129306013',
 'chr1:30121879',
 'chr17:21048339',
 'chr1:72752602',
 'chr5:65009090',
 'chr4:24987732',
 'chr9:32577816',
 'chr13:55789705',
 'chr2:66514985',
 'chr8:105562293',
 'chrX:38956071',
 'chr15:91408436',
 'chr10:119788001',
 'chr16:76180013',
 'chr15:69269041',
 'chr16:5773525',
 'chr4:85090771',
 'chr17:76422482',
 'chr8:69589757',
 'chr14:18111842',
 'chr6:58528386',
 'chr12:46575258',
 'chr3:77712307',
 'chr1:157099376',
 'chr11:31570097',
 'chr19:50333715',
 'chr2:50194475',
 'chr3:83662149',
 'chr7:130753184',
 'chr5:88707381',
 'chr17:65783286',
 'chr9:118235839',
 'chr2:91771045',
 'chr15:45724908',
 'chr17:47040683',
 'chr18:57802471',
 'chr9:112198342',
 'chrX:78314717',
 'chr14:113105670',
 'chr7:94624983',
 'chr5:128809516',
 'chr7:124960834',
 'chr14:42532976',
 'chr15:33300251',
 'chr5:116692531',
 'chr1:94820031',
 'chr4:150721408',
 'chr9:71502971',
 'chr6:135452790',
 'chr10:127171396',
 'chr17:10017353',
 'chr9:84759807',
 'chr4:37390842',
 'chr1:99186637',
 'chr1:88274141',
 'chr9:65547995',
 'chr13:92121558',
 'chr8:108563360',
 'chr1:166151171',
 'chr10:80084207',
 'chr7:23938472',
 'chr9:85048627',
 'chr13:88541364',
 'chr3:84449167',
 'chr9:83225952',
 'chr18:61643659',
 'chr6:65898282',
 'chr11:7450968',
 'chr1:135198940',
 'chr14:51128439',
 'chr5:80444367',
 'chr18:35839025',
 'chr15:28584201',
 'chr13:111985063',
 'chr9:83239599',
 'chr19:31941048',
 'chr15:91357257',
 'chr10:110794753',
 'chr17:63960920',
 'chr10:84977609',
 'chr3:80248346',
 'chr11:63351399',
 'chr7:52893487',
 'chr6:8295956',
 'chr15:80566132',
 'chr3:102801451',
 'chr4:84746989',
 'chr1:185120382',
 'chr15:14173512',
 'chr6:36738998',
 'chr6:96215260',
 'chr4:30196229',
 'chr8:89568938',
 'chr11:37747043',
 'chr8:93726801',
 'chr15:65335761',
 'chr7:41814555',
 'chr1:115106808',
 'chr8:107718546',
 'chr10:52923216',
 'chr11:58066754',
 'chr2:152576242',
 'chr1:120786685',
 'chr15:45659646',
 'chr3:86333406',
 'chr7:76538426',
 'chr2:27126513',
 'chr10:110263137',
 'chr3:83122359',
 'chr4:58084360',
 'chr9:61860131',
 'chr11:107815897',
 'chr12:40638712',
 'chr17:66710400',
 'chr9:38253244',
 'chr7:81470795',
 'chr9:92589657',
 'chr1:72456330',
 'chr4:132137651',
 'chr7:134949632',
 'chr6:8889939',
 'chr15:84617520',
 'chr5:112566372',
 'chr8:129661815',
 'chr11:93041222',
 'chr4:34303991',
 'chr13:60487855',
 'chrX:8476724',
 'chrX:80891688',
 'chr2:27880763',
 'chr11:43268044',
 'chr4:114889306',
 'chr8:79194980',
 'chr10:129194411',
 'chr11:22704745',
 'chr11:87982990',
 'chr9:108959077',
 'chr5:41669873',
 'chr6:5580166',
 'chrX:115692499',
 'chr2:171115212',
 'chr6:91192942',
 'chr1:11504321',
 'chr13:23892007',
 'chr13:90349255',
 'chr17:38231586',
 'chr2:124071541',
 'chr6:146121320',
 'chr6:42618517',
 'chr10:88221882',
 'chr13:76154997',
 'chr15:5640003',
 'chr5:56238600',
 'chr11:44039218',
 'chr19:25143386',
 'chr7:77916359',
 'chr14:12967346',
 'chr7:6563663',
 'chr4:48594823',
 'chr13:24570163',
 'chr14:6681021',
 'chr14:73481021',
 'chr7:130673924',
 'chr3:115865663',
 'chr18:21797108',
 'chr6:13049702',
 'chr7:68517902',
 'chr15:78571877',
 'chr4:153149256',
 'chr17:55583480',
 'chr2:85851985',
 'chr8:116872166',
 'chrX:152441745',
 'chr11:58759028',
 'chr17:81681384',
 'chr18:86508583',
 'chr1:121334362',
 'chr5:62650672',
 'chr8:35387569',
 'chr10:39568243',
 'chr17:58885600',
 'chr16:23402122',
 'chr14:78183902',
 'chr14:35499994',
 'chr14:59618849',
 'chr6:4430479',
 'chr3:67242038',
 'chr4:116419233',
 'chr7:143514166',
 'chr12:62471053',
 'chr10:83377780',
 'chr3:144382305',
 'chr19:60299575',
 'chrX:117766173',
 'chr2:101181741',
 'chr14:54229353',
 'chr17:49459037',
 'chr10:104303186',
 'chr16:43001760',
 'chr6:31047896',
 'chr7:75651262',
 'chrX:116017108',
 'chr18:10002911',
 'chr10:43385161',
 'chr6:140091820',
 'chr7:40503058',
 'chr2:122553259',
 'chr3:71642199',
 'chr6:19719191',
 'chr1:109027730',
 'chr14:69343689',
 'chr1:173676406',
 'chr4:89333860',
 'chr4:154236478',
 'chr6:103331484',
 'chr2:87543989',
 'chr15:71393702',
 'chr13:66208003',
 'chr5:69044493',
 'chr14:61347725',
 'chr1:152735693',
 'chr2:87007727',
 'chr14:112082447',
 'chr6:24023175',
 'chr2:33149381',
 'chr10:3953850',
 'chr2:148338608',
 'chr17:86771586',
 'chr16:11259997',
 'chr12:7862866',
 'chr1:177430164',
 'chr10:29770125',
 'chr9:39453888',
 'chr19:54259382',
 'chr2:174304779',
 'chr15:27415841',
 'chr3:104608973',
 'chr16:5603855',
 'chr10:11364795',
 'chr13:89652450',
 'chr17:44007937',
 'chr16:24411143',
 'chr18:80305087',
 'chrX:145550999',
 'chr5:150628231',
 'chr9:77714830',
 'chr3:117377033',
 'chr18:60020534',
 'chrX:34857703',
 'chr2:165089609',
 'chr9:71719908',
 'chr11:39731916',
 'chr7:61778642',
 'chr14:13139276',
 'chr19:25111120',
 'chr12:84471599',
 'chr15:46670290',
 'chr17:63219695',
 'chrX:46623111',
 'chr9:105647903',
 'chr18:60932481',
 'chr10:14060461',
 'chr2:65090278',
 'chr9:108838001',
 'chr3:88359841',
 'chrX:10399341',
 'chr6:121600475',
 'chr6:71010162',
 'chr17:48605608',
 'chr5:117599959',
 'chr16:22833442',
 'chr8:78576095',
 'chr4:58942414',
 'chr6:25707546',
 'chr9:63115739',
 'chr7:59253622',
 'chr15:87294350',
 'chr16:80126992',
 'chr6:98955516',
 'chr7:52406489',
 'chr10:116510979',
 'chr10:93647574',
 'chr19:15660217',
 'chr5:120486368',
 'chr1:156217360',
 'chr15:29850492',
 'chr18:31607052',
 'chr9:59734087',
 'chr16:25994292',
 'chr16:11982084',
 'chr9:55223217',
 'chr15:19995911',
 'chr1:25103040',
 'chr12:52004098',
 'chr2:31883076',
 'chr16:77669647',
 'chr9:78252406',
 'chr12:81503246',
 'chr13:22491561',
 'chr6:39285364',
 'chr7:78437139',
 'chr13:87646737',
 'chr16:66881451',
 'chr2:34949863',
 'chr19:55296180',
 'chr4:90091565',
 'chr4:56531431',
 'chr11:46465832',
 'chr13:72676836',
 'chr2:4962733',
 'chr18:82443582',
 'chr12:41175450',
 'chr4:80073775',
 'chr17:40375326',
 'chr1:97768469',
 'chr18:62829418',
 'chr14:100096640',
 'chr2:101794275',
 'chr2:109116374',
 'chr4:105273872',
 'chr5:55152818',
 'chr3:32981536',
 'chr7:39936387',
 'chr9:30590709',
 'chr19:42110899',
 'chr14:84011876',
 'chr8:92329704',
 'chr6:107873372',
 'chr10:90199319',
 'chr2:18422529',
 'chr12:47174013',
 'chr6:112508117',
 'chr10:7153014',
 'chr17:3430219',
 'chr8:97635866',
 'chr2:72676236',
 'chr17:14160690',
 'chrX:130729544',
 'chr15:25590879',
 'chr16:96989446',
 'chr1:124714161',
 'chr8:97019247',
 'chr11:65874039',
 'chr12:77503284',
 'chr7:82541869',
 'chr1:32039417',
 'chr1:27757249',
 'chr4:81857610',
 'chr2:12007600',
 'chr17:39886271',
 'chr10:23301902',
 'chr7:33016840',
 'chr10:59259142',
 'chr9:112771468',
 'chr9:33316483',
 'chr18:70696392',
 'chr1:133214680',
 'chr5:108222429',
 'chr1:151426920',
 'chr18:75448037',
 'chr5:66098892',
 'chr11:26110425',
 'chrX:91482342',
 'chr17:86956393',
 'chr11:43307177',
 'chr13:68080406',
 'chr16:55685904',
 'chr5:19463785',
 'chr10:7471342',
 'chr3:23146082',
 'chr3:49287596',
 'chr4:114375999',
 'chr17:30807329',
 'chr1:181514600',
 'chr12:95587954',
 'chr13:90200684',
 'chr12:42948429',
 'chr2:14809241',
 'chr6:93505214',
 'chr12:12282432',
 'chr16:10028456',
 'chr4:113670712',
 'chr1:128625764',
 'chr1:22317387',
 'chr4:38956154',
 'chr12:76847457',
 'chr6:73184053',
 'chr11:35703474',
 'chr4:79619237',
 'chr16:85987370',
 'chr3:73668645',
 'chr4:152820390',
 'chr18:70627961',
 'chr1:28219288',
 'chr11:58045782',
 'chr13:93285920',
 'chr4:6049728',
 'chr3:153363239',
 'chr11:87873872',
 'chrX:59548037',
 'chr11:57178569',
 'chr12:45322571',
 'chr3:32951270',
 'chr15:78692047',
 'chr8:125192557',
 'chr1:159589165',
 'chr1:45740552',
 'chr12:63050772',
 'chr7:41232452',
 'chr9:87246865',
 'chr2:80354327',
 'chr19:54039582',
 'chr8:95823289',
 'chr10:117225718',
 'chr14:103482485',
 'chr11:46521784',
 'chr7:33132510',
 'chr19:40827931',
 'chr1:15609885',
 'chr18:52607795',
 'chr1:120677352',
 'chr12:78546685',
 'chr9:24854044',
 'chr17:86145079',
 'chr12:81559005',
 'chr8:104869714',
 'chr6:73694844',
 'chr3:74514466',
 'chr18:56929795',
 'chr11:16926221',
 'chr16:83085070',
 'chr7:37544163',
 'chr11:6919205',
 'chr18:67565057',
 'chr3:8849917',
 'chr17:88141188',
 'chr3:72822041',
 'chr17:76774095',
 'chr2:103668018',
 'chr10:5224793',
 'chr8:52005156',
 'chr3:78926212',
 'chr16:41178062',
 'chr12:32746406',
 'chr6:88931064',
 'chr4:67894906',
 'chr1:33023352',
 'chr14:110644100',
 'chr16:90096102',
 'chr6:56070759',
 'chr4:79877404',
 'chr7:142023207',
 'chr13:115842044',
 'chr5:36920931',
 'chr1:79509933',
 'chr15:84533032',
 'chr17:46406748',
 'chr5:89832212',
 'chr7:54429843',
 'chr1:187480715',
 'chr5:142125550',
 'chr8:91117765',
 'chr9:46203831',
 'chr4:109260979',
 'chr6:6057324',
 'chr8:110887605',
 'chr11:17229221',
 'chr14:71008129',
 'chr16:20544295',
 'chr3:83473222',
 'chr7:123735951',
 'chr13:55204999',
 'chr10:76779725',
 'chr12:58591786',
 'chr12:67260644',
 'chr6:42580005',
 'chr2:28848751',
 'chr12:102438805',
 'chr18:59779321',
 'chr11:109131516',
 'chr5:139111341',
 'chr5:8422066',
 'chr11:79807248',
 'chr8:16311788',
 'chr7:16818257',
 'chr9:44971827',
 'chr16:9559776',
 'chr4:127547158',
 'chr4:50716371',
 'chr6:23928476',
 'chr11:111757078',
 'chr9:7958808',
 'chr16:62377713',
 'chr4:69037594',
 'chr11:41435924',
 'chr2:102422375',
 'chr8:45515665',
 'chr5:100650228',
 'chr14:21292751',
 'chr3:17656536',
 'chr3:126653556',
 'chr6:134693988',
 'chr9:93533612',
 'chr11:56312689',
 'chr8:101674111',
 'chr1:31446880',
 'chr3:31487359',
 'chr16:68586978',
 'chr5:58593070',
 'chr10:102649649',
 'chr4:51879868',
 'chr3:74011008',
 'chr14:81453736',
 'chr2:122723619',
 'chr15:80008225',
 'chr18:6308496',
 'chr1:98484901',
 'chrX:79435537',
 'chr12:68466318',
 'chr12:62493584',
 'chr7:91012686',
 'chr6:120532476',
 'chr14:84402450',
 'chr7:115029214',
 'chr9:41147539',
 'chr6:117678401',
 'chr3:81546956',
 'chr14:107379308',
 'chr1:135189603',
 'chr11:30964366',
 'chr9:58741554',
 'chr2:92546956',
 'chr4:98750243',
 'chr17:47952560',
 'chr7:134241041',
 'chr6:61197046',
 'chr6:101558341',
 'chr7:67772794',
 'chr14:83421502',
 'chr18:43726464',
 'chr3:108293220',
 'chr8:43701090',
 'chrX:155458699',
 'chr1:114149708',
 'chr7:9789947',
 'chr5:22871538',
 'chr17:53914854',
 'chr14:30398193',
 'chr15:59882708',
 'chr14:115519937',
 'chr4:74743532',
 'chr7:124045409',
 'chr4:58172432',
 'chr5:32224106',
 'chr17:69156155',
 'chr2:110740583',
 'chr2:110651210',
 'chr9:8334375',
 'chr1:10156696',
 'chr8:83581895',
 'chr12:94891416',
 'chr18:73767658',
 'chr13:26139898',
 'chr13:19925937',
 'chr14:40158484',
 'chr10:122444576',
 'chr15:60368729',
 'chr7:38405171',
 'chr1:3503931',
 'chr10:5214326',
 'chr11:101902613',
 'chr5:44953482',
 'chr18:42261648',
 'chr6:3253603',
 'chr14:87699025',
 'chr11:89840627',
 'chr10:87875624',
 'chr5:148494868',
 'chr15:6933073',
 'chr15:58379443',
 'chr15:64146114',
 'chrX:141330959',
 'chr3:85272306',
 'chr3:101179324',
 'chr13:94260380',
 'chr14:7124524',
 'chr10:75999339',
 'chr2:178186953',
 'chr14:79087478',
 'chr3:89696442',
 'chr5:138607904',
 'chr16:4717504',
 'chr5:16512425',
 'chr7:40678688',
 'chr17:54894181',
 'chr3:140120139',
 'chr7:101073366',
 'chr16:80387032',
 'chr7:67421396',
 'chr18:82154048',
 'chr14:105734114',
 'chr10:88117349',
 'chr3:39219455',
 'chr1:8796074',
 'chr8:77077739',
 'chr6:132676456',
 'chr18:63088629',
 'chr1:10355019',
 'chr3:73859335',
 'chr11:116800798',
 'chr12:48087663',
 'chr2:85354692',
 'chr17:24000469',
 'chr1:102187536',
 'chr2:147979642',
 'chr5:66381628',
 'chr6:59921253',
 'chr1:44876401',
 'chr7:92239931',
 'chr14:81649415',
 'chr4:14959185',
 'chrX:67892191',
 'chr15:66675730',
 'chr5:18714196',
 'chr10:34146646',
 'chr7:41795538',
 'chr8:109117473',
 'chr16:84335469',
 'chr14:79476539',
 'chr3:146381781',
 'chr15:94215462',
 'chr10:24068733',
 'chrX:83416909',
 'chr18:40126373',
 'chr1:149708611',
 'chr5:60084150',
 'chr9:47665296',
 'chr9:111580588',
 'chr16:80495751',
 'chr17:59461694',
 'chr4:44567462',
 'chr15:73672205',
 'chr9:37639817',
 'chr10:63630052',
 'chr3:94877150',
 'chr4:148311816',
 'chr1:71349871',
 'chr3:110740933',
 'chr13:25315200',
 'chr16:30634501',
 'chr14:46470403',
 'chr1:94134343',
 'chr18:27619315',
 'chr10:73194761',
 'chr6:68759931',
 'chr13:63059696',
 'chr8:51205210',
 'chr8:61266160',
 'chr17:39109660',
 'chr16:82357103',
 'chr18:47758950',
 'chr17:24409647',
 'chr5:117167742',
 'chrX:128098255',
 'chr2:39351835',
 'chr2:55840612',
 'chr15:9449613',
 'chr11:108979760',
 'chr3:86176733',
 'chr7:37942206',
 'chr11:32979744',
 'chr4:86915712',
 'chr7:84462382',
 'chr12:19778043',
 'chr13:17256840',
 'chr10:118743604',
 'chr19:42722812',
 'chr5:4758065',
 'chr6:124154492',
 'chrX:62523342',
 'chr18:70052494',
 'chr6:117730521',
 'chrX:119634845',
 'chr1:35546962',
 'chr1:14723597',
 'chr3:47131096',
 'chr7:103049528',
 'chr9:97963835',
 'chr14:29977814',
 'chr2:94990775',
 'chr1:124886657',
 'chr6:82910323',
 'chr11:29815828',
 'chr10:108438299',
 'chr12:113683677',
 'chr2:133421214',
 'chr4:94875467',
 'chr7:131922451',
 'chr6:123056207',
 'chr11:10865705',
 'chr4:54064058',
 'chr6:20649775',
 'chr2:151814094',
 'chr18:19604673',
 'chr11:97617987',
 'chr1:150195661',
 'chr10:64649705',
 'chr2:84077126',
 'chr16:41514466',
 'chr8:123327930',
 'chr5:60371933',
 'chr3:135819304',
 'chr2:162895070',
 'chr16:45871614',
 'chr15:86745528',
 'chr7:94219126',
 'chr3:109587283',
 'chr2:98088129',
 'chr8:106334427',
 'chr6:16908006',
 'chr10:127830608',
 'chr16:90710590',
 'chr10:68886098',
 'chr3:65577938',
 'chr9:114343819',
 'chrX:117723507',
 'chr10:48234988',
 'chr9:102918191',
 'chr8:42145777',
 'chr16:47309220',
 'chr7:45376272',
 'chr9:65143918',
 'chr1:51227046',
 'chr6:19649908',
 'chr18:57998053',
 'chr16:60516932',
 'chr8:103469264',
 'chr8:53083114',
 'chr14:116150699',
 'chr17:87536658',
 'chr16:61401239',
 'chr3:133378246',
 'chr5:66102637',
 'chr8:90678832',
 'chr18:79356227',
 'chr4:127817938',
 'chr1:137557888',
 'chr6:43030803',
 'chr4:35165411',
 'chr13:66250323',
 'chr8:81251306',
 'chr13:98334937',
 'chr18:86608646',
 'chr9:42067290',
 'chr16:56929986',
 'chr1:118403166',
 'chr4:51611827',
 'chr14:13927234',
 'chr14:109490622',
 'chr3:42008753',
 'chr16:28228209',
 'chr12:52955219',
 'chr1:146912171',
 'chr17:20332876',
 'chr1:23552687',
 'chr3:69486055',
 'chr7:142492348',
 'chr11:94915107',
 'chr13:79822389',
 'chr5:12240700',
 'chr7:87189899',
 'chr8:84257473',
 'chr1:127585454',
 'chr7:9264358',
 'chr3:150715885',
 'chr11:111444783',
 'chr19:50656064',
 'chr19:46769549',
 'chr9:42794393',
 'chr7:117823359',
 'chr3:123592425',
 'chr15:99596112',
 'chr13:34347403',
 'chr5:147529543',
 'chr14:93433643',
 'chr15:33178123',
 'chr1:41257560',
 'chr15:66974338',
 'chr17:33101668',
 'chr7:126441395',
 'chr9:42436457',
 'chr10:68131355',
 'chr16:85191427',
 'chr3:15405089',
 'chr4:33311448',
 'chr14:85421519',
 'chr19:9419858',
 'chr4:92601890',
 'chr9:53843707',
 'chr1:116625313',
 'chr6:53527528',
 'chr7:69431396',
 'chr4:15390382',
 'chr11:54765542',
 'chr14:84965876',
 'chr2:140219645',
 'chr10:66837368',
 'chr2:110763044',
 'chr8:126894213',
 'chr4:145356915',
 'chr11:90572205',
 'chr17:14193858',
 'chr9:55838775',
 'chr11:46440088',
 'chr2:21148381',
 'chr2:170745109',
 'chr10:115935794',
 'chr11:62173416',
 'chr10:103252839',
 'chr5:10643777',
 'chr13:16810527',
 'chr6:56615288',
 ...}

In [22]:
len(vcf_ed_pos)

80657750

In [23]:
# produce sets for wt and ko that after correction are called as edited (above 99th percentile CC data) and with pvalue of 
# abobec1 model lower than significance level 0.01
wt_ed_pos = set()
for var in wt.query("y_hat == 1").query("p_value < 0.01").itertuples():
    wt_ed_pos.add(f"{var[1]}:{var[2]}")

ko_ed_pos = set()
for var in ko.query("y_hat == 1").query("p_value < 0.01").itertuples():
    ko_ed_pos.add(f"{var[1]}:{var[2]}")

In [24]:
len(wt_ed_pos)

1595

In [25]:
len(ko_ed_pos)

1156

In [26]:
# intersection between ko and wt sites after SNPs filtering and APOBEC1 model selection
len(wt_ed_pos.intersection(ko_ed_pos))

364

In [27]:
len(wt_ed_pos.difference(vcf_ed_pos)) # number of edited sites for WT after SNPs filtering  and APOBEC1 model selection

1542

In [28]:
len(ko_ed_pos.difference(vcf_ed_pos)) # number of edited sites for KO after SNPs filtering and APOBEC1 model selection

1112

In [29]:
# filter out position involved into genomic variation and load into pandas dataframes
wt_ed_pos = wt_ed_pos.difference(vcf_ed_pos)
ko_ed_pos = ko_ed_pos.difference(vcf_ed_pos)

## Let's filter out m5C known positions
The m5C known positions for mm10 Mus musculus assembly were downloaded from m5C-Atlas (url: https://www.xjtlu.edu.cn/biologicalsciences/m5c-atlas). These positions were thus lifted-over from mm10 to mm39 genome space coordinates.

In [30]:
# load m5C_mm39.bed file
m5C_mm39_bed = pd.read_table("/lustre/bio_running/C_to_U_editing/refs/mm10/m5C_mm39.bed", header=None)
m5C_mm39_bed

           0          1          2  3  4  5
0       chr1   13636583   13636584  .  0  -
1       chr1   13646667   13646668  .  0  -
2       chr1   20678627   20678628  .  0  -
3       chr1   20873518   20873519  .  0  -
4       chr1   20884976   20884977  .  0  -
...      ...        ...        ... .. .. ..
16274   chr9  108378490  108378491  .  0  +
16275  chr14   19802519   19802520  .  0  +
16276  chr18   34901490   34901491  .  0  +
16277   chr2   25392997   25392998  .  0  +
16278  chr18   61262156   61262157  .  0  +

[16279 rows x 6 columns]

In [31]:
# produce a set with vcf_ed positions as region:position format
with tqdm(total=m5C_mm39_bed.shape[0]) as pbar:
    m5C_pos = set()
    for var in m5C_mm39_bed.itertuples():
        m5C_pos.add(f"{var[1]}:{var[2]}")
        pbar.update(1)
m5C_pos

100%|██████████| 16279/16279 [00:00<00:00, 262372.66it/s]

{'chr17:27239899',
 'chr2:32041242',
 'chr6:87879334',
 'chr2:158226544',
 'chr4:126638202',
 'chr11:46098230',
 'chr7:44502361',
 'chr15:66502807',
 'chr7:126376220',
 'chr2:70924623',
 'chrX:94984424',
 'chr17:40158073',
 'chr17:40158100',
 'chr8:94879670',
 'chr11:72010996',
 'chr3:146437252',
 'chr7:101472181',
 'chr12:111700526',
 'chrX:7788692',
 'chr5:4805933',
 'chr3:94296531',
 'chr15:10470477',
 'chr5:124142986',
 'chr15:98636041',
 'chr2:112070241',
 'chrX:100321114',
 'chr9:114730431',
 'chrX:132533681',
 'chr2:31136103',
 'chr6:23329116',
 'chr11:17903688',
 'chr2:158225397',
 'chr13:67621254',
 'chr5:43391376',
 'chr11:67190886',
 'chr15:102258467',
 'chr13:97631809',
 'chr4:126644073',
 'chr11:7124003',
 'chr7:44187455',
 'chr8:107773372',
 'chr12:81244943',
 'chr1:171068643',
 'chr17:21709523',
 'chr5:110400697',
 'chr15:98702336',
 'chr7:44502075',
 'chr7:23975081',
 'chr13:34259147',
 'chr7:34088850',
 'chr7:24710151',
 'chr9:72366475',
 'chr19:10570126',
 'chr7:30141931',
 'chrX:20554982',
 'chr15:79671717',
 'chr15:43128909',
 'chr15:80814417',
 'chr4:46115149',
 'chr10:57393192',
 'chr17:26502801',
 'chr3:88669438',
 'chrX:52644800',
 'chr1:190682450',
 'chr11:59329316',
 'chr16:84751908',
 'chr11:32237518',
 'chr17:24617396',
 'chr6:142438282',
 'chr8:47634710',
 'chr12:111636322',
 'chr12:113062021',
 'chr3:88228965',
 'chr8:57968697',
 'chr12:85389410',
 'chr8:124059477',
 'chr2:158439194',
 'chr11:115783445',
 'chr3:136596225',
 'chr19:6952475',
 'chr10:72510348',
 'chr7:121667106',
 'chr8:96433394',
 'chr14:30910662',
 'chr10:95399748',
 'chr19:8891945',
 'chr11:120849232',
 'chr15:81588804',
 'chr1:164265413',
 'chr8:110456735',
 'chr18:82602369',
 'chr12:81244945',
 'chr7:45074129',
 'chr7:83532983',
 'chr3:103075483',
 'chr5:139755886',
 'chr10:127079595',
 'chr6:113469849',
 'chr9:103242291',
 'chr15:79670718',
 'chr9:37457396',
 'chr12:100175246',
 'chr4:139103669',
 'chr12:73955030',
 'chr6:6863544',
 'chr1:88629525',
 'chr7:101472183',
 'chr7:118445312',
 'chr9:114552750',
 'chr14:119376085',
 'chr17:34806445',
 'chr18:34996728',
 'chr5:8472639',
 'chr2:168481894',
 'chr15:76003802',
 'chr19:42111987',
 'chr4:45397033',
 'chr6:60792722',
 'chr15:74622613',
 'chr15:81710705',
 'chr2:78699589',
 'chr8:96433247',
 'chr11:95938114',
 'chr10:79552578',
 'chr9:114730430',
 'chrX:104166856',
 'chr17:75313104',
 'chr2:73443497',
 'chr4:126637793',
 'chr15:25364594',
 'chr11:43338591',
 'chr18:82602872',
 'chr9:53311838',
 'chr7:19430834',
 'chr10:80269222',
 'chr14:56119064',
 'chr5:112369116',
 'chr5:104001893',
 'chr3:96146178',
 'chr15:75958014',
 'chr9:64214118',
 'chr7:81443938',
 'chr2:70924625',
 'chr7:27521024',
 'chrX:7788631',
 'chr18:61118436',
 'chr4:129953539',
 'chr7:122232502',
 'chr9:119756877',
 'chr4:135695947',
 'chr11:78205219',
 'chr6:114989151',
 'chr10:80121176',
 'chr7:24265701',
 'chr4:46115188',
 'chr7:44140047',
 'chr10:80917973',
 'chr9:123291120',
 'chr2:28095890',
 'chr4:155706817',
 'chr16:38319056',
 'chr4:99545723',
 'chr4:138184807',
 'chr2:148713735',
 'chr9:37457385',
 'chr3:90120003',
 'chr17:34253026',
 'chr2:32679264',
 'chr16:65636535',
 'chrX:10462417',
 'chr4:126644046',
 'chr8:94879441',
 'chr17:47022572',
 'chr2:37465226',
 'chr5:114946996',
 'chr4:43443093',
 'chr12:53195631',
 'chr2:126733415',
 'chr9:37463896',
 'chr16:18441728',
 'chr8:70547344',
 'chr7:81509153',
 'chr16:10103376',
 'chr11:50280711',
 'chr11:45871137',
 'chr4:125923790',
 'chr17:34277839',
 'chr7:18816441',
 'chr19:9960079',
 'chr2:150674967',
 'chr6:124913007',
 'chr7:79941109',
 'chr7:30816680',
 'chr13:8941252',
 'chr9:56053843',
 'chr11:97401326',
 'chr1:165601498',
 'chr2:180994548',
 'chr2:151923783',
 'chr12:111638380',
 'chr4:45396998',
 'chr8:95508524',
 'chr5:65580912',
 'chr1:155658357',
 'chr5:137019012',
 'chr7:28485114',
 'chr1:171345781',
 'chr7:16650583',
 'chr10:81206965',
 'chr10:126903758',
 'chr4:45397642',
 'chr3:95726045',
 'chr1:153780364',
 'chr1:93715785',
 'chr8:26092674',
 'chr8:31640633',
 'chr19:6047782',
 'chr11:98687038',
 'chr19:11796160',
 'chr7:16649647',
 'chrX:103007027',
 'chr1:52208109',
 'chr4:41195125',
 'chr12:111635926',
 'chr13:49075422',
 'chr17:46616888',
 'chr15:76899929',
 'chr14:52246419',
 'chr3:95046803',
 'chr12:33017639',
 'chr2:158225602',
 'chr2:131089362',
 'chrX:7788619',
 'chr8:96439815',
 'chr1:74275977',
 'chr7:44986383',
 'chr7:30645440',
 'chr11:115311095',
 'chr18:34506438',
 'chr15:10470451',
 'chr7:122232515',
 'chr1:20873518',
 'chr10:80492170',
 'chr3:132545187',
 'chr3:84069951',
 'chr15:98030073',
 'chr7:27235339',
 'chr15:79672699',
 'chr15:72679207',
 'chr2:25222892',
 'chr7:16650806',
 'chrX:149767093',
 'chr18:61118192',
 'chr10:72510464',
 'chr7:81531072',
 'chr7:24680989',
 'chr6:38583473',
 'chr18:46846333',
 'chr4:139103676',
 'chr8:47634711',
 'chr13:67120574',
 'chr16:91304221',
 'chrX:150701487',
 'chr18:82602285',
 'chrX:10451858',
 'chr2:156855692',
 'chr3:19280568',
 'chr9:66045870',
 'chr14:6104133',
 'chr2:174172052',
 'chr2:172875676',
 'chr5:5723522',
 'chr1:172023293',
 'chr11:68877715',
 'chr11:17149083',
 'chr11:6540852',
 'chr7:144415230',
 'chr11:78217260',
 'chr5:125518861',
 'chr7:125473655',
 'chr6:129518964',
 'chr6:38403178',
 'chr7:122232523',
 'chr3:135144621',
 'chr5:123510070',
 'chr11:83672942',
 'chr8:71943728',
 'chr5:137524750',
 'chr14:30710113',
 'chr7:33832340',
 'chr4:129005531',
 'chr3:105850179',
 'chr7:44727767',
 'chr4:33019428',
 'chr7:101472184',
 'chr12:111636673',
 'chr3:88654956',
 'chr8:105144699',
 'chr7:28098112',
 'chr12:111635979',
 'chr2:37464568',
 'chr19:5143049',
 'chrX:73354483',
 'chr4:126640398',
 'chr16:18448640',
 'chr18:24024079',
 'chr19:46064479',
 'chr2:136597996',
 'chr17:6157243',
 'chr8:31640630',
 'chr1:52199485',
 'chr11:100261968',
 'chr6:6863626',
 'chr4:56808127',
 'chr9:46154392',
 'chr19:4050748',
 'chrX:150992285',
 'chr9:20827142',
 'chr11:45871144',
 'chr15:79995932',
 'chr2:162896680',
 'chr17:36240997',
 'chr11:72102899',
 'chr11:5011814',
 'chr3:60529657',
 'chr7:29834213',
 'chr17:46991752',
 'chr2:113607230',
 'chr11:6424882',
 'chr12:80522885',
 'chr17:27722115',
 'chr17:26056019',
 'chr5:120671908',
 'chr15:31617224',
 'chr11:98792207',
 'chr12:111638202',
 'chr2:113882426',
 'chr14:40628948',
 'chr12:100175954',
 'chr7:140487794',
 'chr8:92136259',
 'chr3:34730689',
 'chr8:71208543',
 'chr3:96485617',
 'chr18:61118364',
 'chr11:95990889',
 'chr11:115286254',
 'chr14:54706858',
 'chr11:95853595',
 'chr4:45397640',
 'chr6:42656329',
 'chr6:124818258',
 'chr16:62632278',
 'chr18:82603621',
 'chrX:10451868',
 'chr1:132361838',
 'chr10:80984884',
 'chr19:46490298',
 'chr2:37461409',
 'chr6:57666406',
 'chr1:92943649',
 'chr3:55044052',
 'chr15:68800452',
 'chr11:49151606',
 'chr7:59634817',
 'chr17:63806253',
 'chr15:58328907',
 'chr5:121683515',
 'chr5:137952864',
 'chr12:4891499',
 'chrX:134702434',
 'chr19:45000724',
 'chr17:65920319',
 'chr3:103075453',
 'chr5:37110734',
 'chr19:8908170',
 'chr18:61118357',
 'chr1:34511232',
 'chr11:98792209',
 'chr6:42335909',
 'chr2:170721284',
 'chr15:80763167',
 'chr13:103878803',
 'chr2:181021822',
 'chr8:96435428',
 'chr8:108282087',
 'chr14:121616434',
 'chr10:81108999',
 'chr5:104240475',
 'chr13:97389143',
 'chr18:82603219',
 'chr12:80522720',
 'chr6:131365150',
 'chr8:96433404',
 'chr18:82602359',
 'chr5:108842226',
 'chr17:35217094',
 'chr2:93670441',
 'chrX:94990057',
 'chr18:82602436',
 'chr6:48514691',
 'chr4:148025552',
 'chr17:37385123',
 'chr7:30816668',
 'chr4:40474121',
 'chr4:126637792',
 'chr17:56483983',
 'chr1:179969069',
 'chr7:27231717',
 'chr6:148890542',
 'chr1:92945162',
 'chr7:24988381',
 'chr16:29885990',
 'chr11:7123875',
 'chr3:96485604',
 'chr12:111637762',
 'chr16:90735636',
 'chr19:8899283',
 'chr15:27466821',
 'chr2:31184629',
 'chr8:106927187',
 'chr15:80001350',
 'chr11:50182910',
 'chr12:4015010',
 'chr1:92943657',
 'chr11:103712879',
 'chr7:30826224',
 'chr11:75656252',
 'chr7:24203613',
 'chr14:32300142',
 'chr6:124740878',
 'chr12:111637392',
 'chr7:142205409',
 'chr18:82602303',
 'chr4:136268938',
 'chr11:83672995',
 'chr6:142438278',
 'chr2:132152449',
 'chr8:81465754',
 'chr7:30141616',
 'chr7:12758427',
 'chr16:45004054',
 'chr8:47742235',
 'chr12:72841061',
 'chr7:128386067',
 'chr2:157313639',
 'chr11:75655567',
 'chr4:32657235',
 'chr19:25399625',
 'chrX:135731867',
 'chr18:32231950',
 'chr6:56837752',
 'chr12:36064768',
 'chr15:96344461',
 'chr11:82853462',
 'chr9:37456295',
 'chr9:121596825',
 'chr6:48019010',
 'chr17:57388590',
 'chr16:10110170',
 'chr12:100843618',
 'chr10:121201203',
 'chr13:78346747',
 'chr17:24388286',
 'chr7:123582445',
 'chr1:75192067',
 'chr9:37463883',
 'chr17:32523499',
 'chr15:80853221',
 'chr5:65650105',
 'chr11:109342016',
 'chr12:109627272',
 'chr3:67510917',
 'chr6:34853590',
 'chr12:100173943',
 'chr9:20818832',
 'chr16:10110159',
 'chr9:123291055',
 'chr13:60323615',
 'chr12:117835913',
 'chr3:96485544',
 'chr15:26409518',
 'chr2:131836052',
 'chr1:164265532',
 'chr7:79875853',
 'chr17:56381963',
 'chr9:79676901',
 'chr18:82602255',
 'chr7:123582611',
 'chr7:121242267',
 'chr13:54732814',
 'chr18:82572673',
 'chr10:80984887',
 'chr11:51497325',
 'chr1:153784445',
 'chr8:96440003',
 'chr6:128299111',
 'chr5:43391656',
 'chr8:95508276',
 'chr8:71151835',
 'chr14:66548829',
 'chr15:88746721',
 'chr7:27233124',
 'chr4:129991707',
 'chrX:52645342',
 'chr7:128148253',
 'chr10:126904013',
 'chr14:21897799',
 'chr7:126037900',
 'chr4:119164815',
 'chr7:131645755',
 'chr11:94935572',
 'chr11:97668551',
 'chr2:150674562',
 'chr1:16748300',
 'chr4:133360626',
 'chr15:80763148',
 'chr1:79788338',
 'chr4:126644529',
 'chr6:124912740',
 'chr8:86026086',
 'chr17:14119369',
 'chr19:8982526',
 'chr17:10430468',
 'chr8:85388806',
 'chr11:115286244',
 'chr2:32701167',
 'chr8:96433393',
 'chr7:18810387',
 'chr5:88798225',
 'chr16:84618153',
 'chr7:105395486',
 'chr1:4915970',
 'chr10:81204063',
 'chr15:99325724',
 'chr3:94914351',
 'chr2:84162666',
 'chr11:45823185',
 'chr11:69934539',
 'chr12:111637876',
 'chr1:185061330',
 'chr13:34259146',
 'chr2:165669678',
 'chr12:100174197',
 'chr7:99341088',
 'chr11:70591421',
 'chr9:106763818',
 'chr7:27232042',
 'chr2:31184285',
 'chr3:136608863',
 'chr7:44813530',
 'chr8:71945679',
 'chr19:44291911',
 'chr7:19430331',
 'chr7:44824606',
 'chr16:10110185',
 'chr8:40876978',
 'chr10:80502120',
 'chr3:32392735',
 'chr10:72510462',
 'chr12:111637863',
 'chr18:82603075',
 'chr8:124147835',
 'chr17:30224222',
 'chr18:82603663',
 'chr7:19430309',
 'chr4:129030900',
 'chr8:124147815',
 'chr3:88653648',
 'chr14:54851748',
 'chr14:103214953',
 'chr5:104240871',
 'chr12:113126832',
 'chr15:80853124',
 'chr3:22305709',
 'chr11:100261969',
 'chr13:108422608',
 'chr8:96441146',
 'chrX:10448420',
 'chr5:122591841',
 'chr12:83204775',
 'chr2:180258250',
 'chr2:32108688',
 'chr2:24945701',
 'chr8:70637731',
 'chr4:109333677',
 'chr10:111132656',
 'chr16:43906122',
 'chr11:94896580',
 'chrX:20853237',
 'chr11:68979418',
 'chr5:35436510',
 'chr19:32735524',
 'chr7:70009983',
 'chr5:50216211',
 'chr4:129635739',
 'chr3:95080199',
 'chr17:34253020',
 'chr8:71945700',
 'chr5:135162712',
 'chr12:111761254',
 'chr16:8648228',
 'chr14:55739855',
 'chr3:89907753',
 'chr2:25515565',
 'chr9:21649200',
 'chr8:85388807',
 'chr2:136605502',
 'chr1:131859310',
 'chr11:80784934',
 'chr2:6548606',
 'chr17:27171590',
 'chr12:113061985',
 'chrX:72998697',
 'chr2:29821476',
 'chr13:93908395',
 'chr15:58694877',
 'chr8:84298507',
 'chr11:70619103',
 'chr7:19430613',
 'chr2:154379339',
 'chr8:117670251',
 'chr4:99546243',
 'chr3:108812598',
 'chr8:123352317',
 'chr9:107562609',
 'chr2:25071861',
 'chr15:98704484',
 'chr8:94879440',
 'chr16:94269517',
 'chr14:66217262',
 'chr8:4307996',
 'chr7:59649124',
 'chr7:100288513',
 'chr7:27235340',
 'chr1:150301474',
 'chr10:72510214',
 'chr8:125675516',
 'chr8:124685271',
 'chr2:131779301',
 'chr10:79518243',
 'chr7:127805446',
 'chr5:139311148',
 'chr5:145064529',
 'chr12:111637906',
 'chr10:72509953',
 'chr19:4837966',
 'chr7:18810466',
 'chr8:105076884',
 'chr12:111638386',
 'chr2:73443438',
 'chr2:179617626',
 'chr7:16649921',
 'chr5:118215701',
 'chr16:45004053',
 'chr11:113135732',
 'chr1:153784082',
 'chr12:8334171',
 'chr4:138184978',
 'chr3:88343822',
 'chr14:105344530',
 'chr10:77129438',
 'chr4:55530607',
 'chr7:16649940',
 'chr18:34996687',
 'chr19:47245886',
 'chr18:82602840',
 'chr3:96127365',
 'chr14:36843051',
 'chr19:46301363',
 'chr7:19430449',
 'chr7:30134738',
 'chr9:100867905',
 'chr16:20521440',
 'chr7:19449056',
 'chr5:24796976',
 'chr5:77429479',
 'chr8:123771235',
 'chr14:52148998',
 'chr1:136208338',
 'chr12:100174862',
 'chr15:78798641',
 'chr5:143513686',
 'chr16:20521474',
 'chr7:44727770',
 'chr8:71366003',
 'chr2:164746862',
 'chr9:56164919',
 'chr8:96440924',
 'chr12:100173482',
 'chr15:76003803',
 'chr9:63306452',
 'chr11:68877690',
 'chr10:72510419',
 'chr18:82602573',
 'chr17:57394520',
 'chrX:10461536',
 'chr17:64589692',
 'chr11:81937349',
 'chr1:34317117',
 'chr11:99124512',
 'chr10:72510412',
 'chr11:51491302',
 'chr17:71281194',
 'chr6:124746442',
 'chr2:122179557',
 'chr11:90529225',
 'chr17:35196777',
 'chr15:10493559',
 'chr7:126376219',
 'chr3:94355924',
 'chr7:46080105',
 'chr9:19559798',
 'chr11:72281560',
 'chr15:89441994',
 'chr1:167984776',
 'chr5:114557860',
 'chr19:38384568',
 'chr15:12205206',
 'chr16:18441488',
 'chr9:37456578',
 'chr1:85777553',
 'chr4:126637828',
 'chr2:30735462',
 'chr2:68199385',
 'chr19:47504553',
 'chr3:88343820',
 'chr5:135939475',
 'chr11:68979437',
 'chr9:121612713',
 'chr9:53502655',
 'chr1:74633138',
 'chr17:21179738',
 'chr18:40352297',
 'chr10:80739327',
 'chr3:89907759',
 'chr11:121151326',
 'chr14:66217325',
 'chr16:8507595',
 'chr6:148890478',
 'chr8:95506456',
 'chr9:20946380',
 'chr11:100414301',
 'chr16:95928644',
 'chr6:8510154',
 'chr11:78587934',
 'chr15:83961060',
 'chr8:12682313',
 'chr7:126146202',
 'chr14:52246424',
 'chr8:96440916',
 'chr3:103075452',
 'chr9:102503516',
 'chr11:17149310',
 'chr1:42736883',
 'chr1:171049688',
 'chr5:104240682',
 'chr10:62105177',
 'chr1:164266040',
 'chr2:152239571',
 'chr17:27778622',
 'chr3:88235381',
 'chr11:115273137',
 'chr9:37456356',
 'chr2:32679642',
 'chr1:153783908',
 'chr5:124492633',
 'chr6:35204376',
 'chr3:135144615',
 'chr8:94905949',
 'chr2:163859995',
 'chr12:111638316',
 'chr7:24002278',
 'chr17:28039338',
 'chr12:100165971',
 'chr4:120422514',
 'chr1:153783735',
 'chr5:36555248',
 'chr8:81465755',
 'chr10:36850690',
 'chr15:83012198',
 'chr4:115890135',
 'chr11:78413244',
 'chr3:96485550',
 'chr2:179617738',
 'chr12:69419229',
 'chr19:46584822',
 'chr15:83960531',
 'chr11:70591414',
 'chr19:8966699',
 'chr8:45463121',
 'chr12:3302700',
 'chr11:120698682',
 'chr12:111261590',
 'chr8:96440021',
 'chr6:7676099',
 'chr8:112725265',
 'chr17:34160458',
 'chr2:151403177',
 'chr3:89690920',
 'chrX:10451871',
 'chr5:124257590',
 'chr4:126032902',
 'chr5:33184984',
 'chr15:58694914',
 'chr10:127081329',
 'chr7:112278731',
 'chr4:45397683',
 'chr8:65062255',
 'chr9:56845386',
 'chr2:102489245',
 'chr17:46991753',
 'chr11:116432628',
 'chr3:95091241',
 'chr9:119165555',
 'chr18:82602609',
 'chr15:79672871',
 'chr7:105290511',
 'chr8:111613313',
 'chr2:128968320',
 'chr8:4335675',
 'chr9:37463872',
 'chr7:112456117',
 'chr7:126092088',
 'chr11:77873776',
 'chr11:68979444',
 'chr11:55390388',
 'chr10:80249041',
 'chr9:57349485',
 'chr7:18787908',
 'chr11:75656139',
 'chr16:18441745',
 'chr16:18441710',
 'chr4:120826012',
 'chr9:78445194',
 'chr8:111768298',
 'chr6:148890470',
 'chr7:16650650',
 'chr12:100172838',
 'chr2:136555506',
 'chr10:67724070',
 'chr14:58072597',
 'chr18:61103100',
 'chr15:82118396',
 'chr5:139745551',
 'chr16:18441539',
 'chr1:164270903',
 'chr11:100472412',
 'chr17:47235254',
 'chr13:32986609',
 'chr10:66847108',
 'chr2:31580698',
 'chr12:81546606',
 'chr17:5461284',
 'chr16:10103349',
 'chrX:10462187',
 'chr18:34996713',
 'chr8:96440754',
 'chr4:137691905',
 'chr17:57387192',
 'chr5:137522662',
 'chr2:80336557',
 'chr6:36718228',
 'chr4:141152307',
 'chr16:84751911',
 'chr11:43595847',
 'chr9:59563859',
 'chr11:116228438',
 'chr17:57387968',
 'chr7:30141713',
 'chr11:98727912',
 'chr15:100400905',
 'chr13:32986302',
 'chr18:82572817',
 'chr8:96432920',
 'chr5:122509993',
 'chr5:120671924',
 'chr7:18787909',
 'chr15:79671730',
 'chr9:55394051',
 'chr4:119164977',
 'chr12:111638288',
 'chr4:131565516',
 'chr13:23739459',
 'chr5:118266968',
 'chr7:16650706',
 'chr10:81401794',
 'chr4:45397067',
 'chrX:13712496',
 'chr15:98704848',
 'chr5:129847731',
 'chr11:6424883',
 'chr12:111511107',
 'chr2:164637694',
 'chr19:46299752',
 'chrX:8759388',
 'chr7:28861382',
 'chr6:122690740',
 'chr10:34174497',
 'chr4:33020422',
 'chrX:10445678',
 'chr7:30655276',
 'chr8:96432826',
 'chr11:97520463',
 'chrX:135738914',
 'chr6:113705328',
 'chr4:43031072',
 'chr2:71361311',
 'chr8:71245000',
 'chr10:57401432',
 'chr18:82593739',
 'chr2:158225418',
 'chr12:111635915',
 'chr8:96441127',
 'chrX:7758445',
 'chr10:57392595',
 'chr2:156154255',
 'chr1:16748286',
 'chr15:99217468',
 'chr2:74536963',
 'chr7:16650656',
 'chr4:52460289',
 'chr5:122242892',
 'chr5:104240325',
 'chr7:118441619',
 'chr1:164270902',
 'chr9:37457426',
 'chr7:16650627',
 'chr2:112070245',
 'chr6:87958432',
 'chr18:82572708',
 'chr11:3083152',
 'chr17:46875610',
 'chr2:148713721',
 'chr5:100108963',
 'chr7:45107477',
 'chr11:97927563',
 'chr8:95506800',
 'chr1:74430819',
 'chr12:100745519',
 'chr9:37463886',
 'chr16:90735641',
 'chr1:85834162',
 'chr6:67244225',
 'chr5:69498544',
 'chr4:119164921',
 'chr5:150561713',
 'chr17:36169830',
 'chr4:129714314',
 'chr16:20511538',
 'chr6:83086676',
 'chr11:50182601',
 'chr14:66218337',
 'chr17:23980033',
 'chr9:108214159',
 'chr15:98763405',
 'chr17:25652682',
 'chr4:133019820',
 'chr16:18441758',
 'chr19:44291916',
 'chr1:92945153',
 'chr2:127112227',
 'chr9:124055025',
 'chr2:181149978',
 'chr19:4496078',
 'chr7:24677779',
 'chr13:55282422',
 'chr11:65679007',
 'chrX:7789370',
 'chr4:57893081',
 'chr11:66955549',
 'chr2:180248909',
 'chr5:104240782',
 'chr10:80906021',
 'chr2:31184261',
 'chr2:158196367',
 'chr7:19430573',
 'chr1:59952743',
 'chr9:78445204',
 'chr1:151244203',
 'chr3:89154417',
 'chr7:44737941',
 'chr10:81206971',
 'chr17:27971117',
 'chr7:25380888',
 'chr15:98702278',
 'chr15:98029836',
 'chr9:41975370',
 'chr5:124257588',
 'chr7:27235344',
 'chr2:163310770',
 'chr2:179666949',
 'chr11:101137223',
 'chr13:46823638',
 'chr1:177276184',
 'chr12:111638377',
 'chr14:52530927',
 'chr15:79496104',
 'chr1:181039411',
 'chr7:110655320',
 ...}

In [32]:
len(m5C_pos)

16279

In [33]:
# filter out position involved into m5C known variations from dataframes
wt_ed_pos = wt_ed_pos.difference(m5C_pos)
ko_ed_pos = ko_ed_pos.difference(m5C_pos)

In [34]:
len(wt_ed_pos)

1542

In [35]:
len(ko_ed_pos)

1112

In [36]:
# produce pandas dataframe
wt_filtered = pd.merge(wt, pd.DataFrame([[i.split(":")[0],int(i.split(":")[1]) ] for i in list(wt_ed_pos)], columns=["region", "position"]), how="inner")
wt_filtered

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4915426,+,2,2,51,0.039216,0.039216,TGCAT,1,0.001079
1,chr1,4915443,+,5,3,54,0.092593,0.055556,TACAA,1,0.000049
2,chr1,4915467,+,5,4,55,0.090909,0.072727,TACAG,1,0.005247
3,chr1,4915694,+,7,4,51,0.137255,0.078431,TACTA,1,0.000521
4,chr1,4915760,+,2,2,58,0.034483,0.034483,GTCAA,1,0.009496
...,...,...,...,...,...,...,...,...,...,...,...
1537,chrX,154115400,-,9,4,125,0.072000,0.032000,TACTG,1,0.000807
1538,chrX,156228730,-,5,3,60,0.083333,0.050000,GACTT,1,0.002032
1539,chrX,158165691,+,6,4,125,0.048000,0.032000,ATCAA,1,0.000734
1540,chrX,161555202,+,23,10,124,0.185484,0.080645,GACTG,1,0.000465
1541,chrX,161561670,+,24,7,169,0.142012,0.041420,AACTG,1,0.001552

In [37]:
wt_filtered.describe()

,position,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,y_hat,p_value
count,1.542000e+03,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1542.0,1.542000e+03
mean,7.614255e+07,16.346304,5.953956,137.245785,0.110905,0.044251,1.0,2.175309e-03
std,4.460349e+07,55.207256,15.089904,329.561372,0.088206,0.044124,0.0,2.660177e-03
min,3.524000e+03,2.000000,2.000000,51.000000,0.020202,0.020080,1.0,7.332901e-08
25%,3.751606e+07,5.000000,2.000000,67.000000,0.053333,0.026667,1.0,1.436145e-04
50%,7.399304e+07,8.000000,3.000000,86.000000,0.084507,0.033777,1.0,8.991437e-04
75%,1.112358e+08,14.750000,5.000000,127.000000,0.139461,0.046875,1.0,3.441624e-03
max,1.947934e+08,1579.000000,368.000000,9109.000000,0.986486,0.878378,1.0,9.899478e-03

In [38]:
# produce pandas dataframe
ko_filtered = pd.merge(ko, pd.DataFrame([[i.split(":")[0],int(i.split(":")[1]) ] for i in list(ko_ed_pos)], columns=["region", "position"]), how="inner")
ko_filtered

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4916168,+,13,2,96,0.135417,0.020833,AACTG,1,0.001260
1,chr1,4916319,+,9,2,87,0.103448,0.022989,TTCTT,1,0.000316
2,chr1,4916336,+,25,7,104,0.240385,0.067308,GCCGA,1,0.000316
3,chr1,4963782,+,12,3,90,0.133333,0.033333,TACAC,1,0.001785
4,chr1,4967134,+,8,2,96,0.083333,0.020833,TTCTT,1,0.001192
...,...,...,...,...,...,...,...,...,...,...,...
1107,chrX,156228730,-,5,3,68,0.073529,0.044118,GACTT,1,0.002032
1108,chrX,158168406,+,13,6,164,0.079268,0.036585,ATCTA,1,0.001369
1109,chrX,161552918,+,9,5,175,0.051429,0.028571,AACAC,1,0.005402
1110,chrX,161561670,+,21,6,218,0.096330,0.027523,AACTG,1,0.001552
1111,chrX,165638015,+,107,48,2118,0.050519,0.022663,CACTG,1,0.000217

In [39]:
ko_filtered.describe()

,position,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,y_hat,p_value
count,1.112000e+03,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.0,1.112000e+03
mean,7.499327e+07,22.984712,6.064748,149.277878,0.136494,0.042012,1.0,2.760938e-03
std,4.535632e+07,96.649984,15.681556,367.385015,0.101165,0.040797,0.0,2.819369e-03
min,3.524000e+03,2.000000,2.000000,51.000000,0.020408,0.020134,1.0,6.172576e-08
25%,3.592237e+07,6.000000,2.000000,65.000000,0.067389,0.025974,1.0,3.694857e-04
50%,7.303058e+07,10.000000,3.000000,86.000000,0.107565,0.033708,1.0,1.769683e-03
75%,1.096552e+08,18.000000,5.000000,127.000000,0.181818,0.045147,1.0,4.532299e-03
max,1.910868e+08,2723.000000,357.000000,7518.000000,0.968354,0.803797,1.0,9.992778e-03

In [40]:
# save to disk
wt_filtered.to_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr/wt_ko/wt_iForest_and_SNP_m5C_filtered_snp142.apobec1.tsv", sep="\t")
ko_filtered.to_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr/wt_ko/ko_iForest_and_SNP_m5C_filtered_snp142.apobec1.tsv", sep="\t")

In [41]:
intersection = pd.merge(wt_filtered, ko_filtered, how="inner", on=["region", "position", "strand"])[["region", "position", "strand"]]
intersection

    region   position strand
0     chr1    4916168      +
1     chr1    4916336      +
2     chr1    5213986      +
3     chr1    5232635      +
4     chr1   10105387      -
..     ...        ...    ...
339   chrX  133438540      -
340   chrX  133507239      +
341   chrX  135633808      -
342   chrX  156228730      -
343   chrX  161561670      +

[344 rows x 3 columns]

In [42]:
# lest's evaluate the presence of well known chr2:121983221/3 sites in wt and ko
wt_filtered.query("region == 'chr2'").query("position == 121983221")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
796,chr2,121983221,+,280,166,851,0.329025,0.195065,TACAC,1,0.004419

In [43]:
wt_filtered.query("region == 'chr2'").query("position == 121983223")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
797,chr2,121983223,+,105,48,895,0.117318,0.053631,CACAT,1,0.00448

In [44]:
ko_filtered.query("region == 'chr2'").query("position == 121983221")

Empty DataFrame
Columns: [region, position, strand, T_native, T_corrected, depth_stranded, Tfreq_native, Tfreq_corrected, 5mer, y_hat, p_value]
Index: []

In [45]:
ko_filtered.query("region == 'chr2'").query("position == 121983223")

Empty DataFrame
Columns: [region, position, strand, T_native, T_corrected, depth_stranded, Tfreq_native, Tfreq_corrected, 5mer, y_hat, p_value]
Index: []

## Evaluate reliable CtoU editing sites
To eliminate RNA-DNA problems we focused out attention on sites that are modified in WT but that are not in KO sample

In [46]:
# we are interested in sites that on KO are not edited after correction
ko.query("Tfreq_corrected <= 0.02").describe()

,position,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,y_hat,p_value
count,4.910260e+05,491026.000000,491026.000000,491026.000000,491026.000000,491026.000000,491026.0,4.910260e+05
mean,7.911600e+07,7.779325,0.735847,325.056867,0.032103,0.002749,0.0,8.899986e-01
std,4.579171e+07,34.406719,3.425099,865.012619,0.035888,0.005121,0.0,2.980443e-01
min,8.700000e+01,1.000000,0.000000,51.000000,0.000058,0.000000,0.0,9.667981e-10
25%,3.778301e+07,1.000000,0.000000,72.000000,0.010870,0.000000,0.0,1.000000e+00
50%,7.920325e+07,2.000000,0.000000,114.000000,0.018868,0.000000,0.0,1.000000e+00
75%,1.165447e+08,6.000000,1.000000,234.000000,0.039216,0.003215,0.0,1.000000e+00
max,1.948136e+08,5182.000000,347.000000,19536.000000,0.750000,0.020000,0.0,1.000000e+00

In [47]:
# produce a set KO sites that are below 0.02 threshold after correction and are not SNP and/or known m5C sites
ko_NoEd_sites = set()
for site in ko.query("Tfreq_corrected <= 0.02").itertuples():
    ko_NoEd_sites.add(f"{site[1]}:{site[2]}")
# filters SNPs 
ko_NoEd_sites = ko_NoEd_sites.difference(vcf_ed_pos)
# filters out m5C sites
ko_NoEd_sites = ko_NoEd_sites.difference(m5C_pos)
len(ko_NoEd_sites)

480933

In [48]:
# produce a set of not filtered ko CT sites
ko_no_filters = set()
for site in ko.itertuples():
    ko_no_filters.add(f"{site[1]}:{site[2]}")
# filters SNPs 
ko_no_filters = ko_no_filters.difference(vcf_ed_pos)
# filters out m5C sites
ko_no_filters = ko_no_filters.difference(m5C_pos)
len(ko_no_filters)

506931

In [49]:
# sites that results edited on WT after algorithm correction and SNPs-m5C filtering and that are not edited on KO 
# (if covered on both with a depth higher than 50).
reliable_ed_sites = set()

counter = 0
bam_file = pysam.AlignmentFile(ko_bam_filepath)
ref = pysam.FastaFile(ref_filepath)
with tqdm(total=len(wt_ed_pos)) as pbar:
    for site in wt_ed_pos:
        if site in ko_NoEd_sites:
            reliable_ed_sites.add(site)
            counter += 1
        else:
            #assess if it is not present at all among CT sites retrieved for KO
            if not site in ko_no_filters:
                # asses if position is covered in ko
                for pileupcolumn in bam_file.pileup(site.split(":")[0], 
                                                    int(site.split(":")[1])-1,
                                                    int(site.split(":")[1]), 
                                                    truncate=True, 
                                                    max_depth=1000000, 
                                                    min_base_quality=0):

                    column = pileupcolumn.get_query_sequences(mark_matches=True, add_indels=True)
                    depth_ = 0
                    for i in [i[0].upper() for i in column]:
                        if i.isupper():
                            depth_ += 1              
                    if depth_ > 50:
                        # asses if there is no editing on this position of KO sample
                        ref_base = ref.fetch(site.split(":")[0], int(site.split(":")[1])-1, int(site.split(":")[1]))
                        if ref_base == "C":
                            if column.count("T") == 0:
                                reliable_ed_sites.add(site)
                                counter += 1
                        elif ref_base == "G":
                            if column.count("a") == 0:
                                reliable_ed_sites.add(site)
                                counter += 1
        pbar.update(1)
# close input files and print total counter of reliable sites retrieved
bam_file.close()         
ref.close()
counter

100%|██████████| 1542/1542 [00:08<00:00, 176.02it/s]

1070

In [50]:
len(reliable_ed_sites)

1070

In [51]:
# produce pandas dataframe for reliable sites
reliable_ed_sites = pd.merge(wt, pd.DataFrame([[i.split(":")[0],int(i.split(":")[1]) ] for i in list(reliable_ed_sites)], columns=["region", "position"]), how="inner")
reliable_ed_sites

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4915426,+,2,2,51,0.039216,0.039216,TGCAT,1,0.001079
1,chr1,4915443,+,5,3,54,0.092593,0.055556,TACAA,1,0.000049
2,chr1,4915467,+,5,4,55,0.090909,0.072727,TACAG,1,0.005247
3,chr1,4915694,+,7,4,51,0.137255,0.078431,TACTA,1,0.000521
4,chr1,4915760,+,2,2,58,0.034483,0.034483,GTCAA,1,0.009496
...,...,...,...,...,...,...,...,...,...,...,...
1065,chrX,153996199,-,2,2,71,0.028169,0.028169,TACAC,1,0.000192
1066,chrX,153996364,-,10,2,72,0.138889,0.027778,GACGT,1,0.004047
1067,chrX,154115400,-,9,4,125,0.072000,0.032000,TACTG,1,0.000807
1068,chrX,158165691,+,6,4,125,0.048000,0.032000,ATCAA,1,0.000734
1069,chrX,161555202,+,23,10,124,0.185484,0.080645,GACTG,1,0.000465

In [52]:
reliable_ed_sites.describe()

,position,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,y_hat,p_value
count,1.070000e+03,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.0,1.070000e+03
mean,7.609382e+07,11.463551,5.137383,123.698131,0.090215,0.040911,1.0,1.957557e-03
std,4.462962e+07,17.099338,9.082246,124.313146,0.065386,0.034333,0.0,2.569332e-03
min,3.297815e+06,2.000000,2.000000,51.000000,0.020202,0.020080,1.0,7.332901e-08
25%,3.763173e+07,4.000000,2.000000,70.000000,0.047619,0.025424,1.0,1.160721e-04
50%,7.273078e+07,7.000000,3.000000,88.000000,0.072508,0.032172,1.0,6.450805e-04
75%,1.111973e+08,12.000000,5.000000,129.000000,0.114415,0.042553,1.0,2.984121e-03
max,1.947934e+08,280.000000,166.000000,1636.000000,0.679389,0.467433,1.0,9.899478e-03

In [53]:
# save to disk reliable sites
reliable_ed_sites.to_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr/wt_ko/reliable_ed_sites_iForest_SNP_m5C_WT_noKO.apobec1.tsv", sep="\t")

In [54]:
# evaluate if among these sites there is the chr2:121983221 
reliable_ed_sites.query("region == 'chr2'").query("position == 121983221")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
538,chr2,121983221,+,280,166,851,0.329025,0.195065,TACAC,1,0.004419

In [55]:
# evaluate if among these sites there is the chr2:121983223
reliable_ed_sites.query("region == 'chr2'").query("position == 121983223")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
539,chr2,121983223,+,105,48,895,0.117318,0.053631,CACAT,1,0.00448

In [56]:
# print overall statistics
print("WT sample - results of CtoU editing events called:")
print(f'\t- ONT native: {wt.shape[0]}')
print(f'\t- ONT iForest corrected: {wt.query("y_hat == 1").shape[0]}')
print(f'\t- ONT iForest corrected and SNP-m5C filtered and APOBEC1 Model selected: {wt_filtered.shape[0]}')
print()
print("KO sample - results of CtoU editing events called:")
print(f'\t- ONT native: {ko.shape[0]}')
print(f'\t- ONT iForest corrected: {ko.query("y_hat == 1").shape[0]}')
print(f'\t- ONT iForest corrected and SNP-m5C filtered and APOBEC1 Model selected: {ko_filtered.shape[0]}')
print()
print(f"Common called editing positions among WT and KO after iForest and SNPs-m5C filtering: {intersection.shape[0]}")
print()
print(f"WT edited sites (algorithm+SNPs+m5C filtered) that are not still edited in KO (on well covered positions): {reliable_ed_sites.shape[0]}")

WT sample - results of CtoU editing events called:
	- ONT native: 382443
	- ONT iForest corrected: 17402
	- ONT iForest corrected and SNP-m5C filtered and APOBEC1 Model selected: 1542

KO sample - results of CtoU editing events called:
	- ONT native: 518188
	- ONT iForest corrected: 23587
	- ONT iForest corrected and SNP-m5C filtered and APOBEC1 Model selected: 1112

Common called editing positions among WT and KO after iForest and SNPs-m5C filtering: 344

WT edited sites (algorithm+SNPs+m5C filtered) that are not still edited in KO (on well covered positions): 1070