## Currents features (CNN wavenet algorithm) aggregated results filtering on well known SNPs and m5C positions

In [1]:
# import basic modules
import pandas as pd
from tqdm import tqdm
import pysam

In [2]:
# define input paths (results with pvalues for apobec1 motif computed in notebook "Consensus_analysis_wt_ko.currents_features")
ref_filepath = "/lustre/bio_running/C_to_U_editing/refs/GRCm39.genome.fa"
ko_bam_filepath = "/lustre/bio_running/C_to_U_editing_minimap2_spliced/ko.bam"
wt = pd.read_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr//WT.df_CT_predicted_aggregated_CNN_apobec1_pvalues.tsv", index_col=0)
ko = pd.read_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr//KO.df_CT_predicted_aggregated_CNN_apobec1_pvalues.tsv", index_col=0)

In [3]:
# show wt dataframe of aggregated results
wt

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4846611,-,1,0,100,0.010000,0.000000,GTCTG,0,1.0
1,chr1,4846619,-,1,0,101,0.009901,0.000000,AGCTT,0,1.0
2,chr1,4846635,-,4,3,77,0.051948,0.038961,TTCTT,0,1.0
3,chr1,4846643,-,3,0,103,0.029126,0.000000,CACAT,0,1.0
4,chr1,4846645,-,3,0,103,0.029126,0.000000,TGCAC,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
337784,chrY,90804626,+,2,0,66,0.030303,0.000000,AGCGG,0,1.0
337785,chrY,90804632,+,1,0,67,0.014925,0.000000,CGCCG,0,1.0
337786,chrY,90804649,+,1,0,58,0.017241,0.000000,CTCTG,0,1.0
337787,chrY,90804680,+,2,0,60,0.033333,0.000000,CTCCA,0,1.0
337788,chrY,90804681,+,1,0,56,0.017857,0.000000,TCCAC,0,1.0

In [4]:
# show ko dataframe of aggregated results
ko

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4846619,-,2,0,121,0.016529,0.000000,AGCTT,0,1.0
1,chr1,4846635,-,7,3,98,0.071429,0.030612,TTCTT,0,1.0
2,chr1,4846643,-,1,0,125,0.008000,0.000000,CACAT,0,1.0
3,chr1,4846645,-,4,0,125,0.032000,0.000000,TGCAC,0,1.0
4,chr1,4846648,-,2,0,126,0.015873,0.000000,GGCTG,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
465902,chrY,90833612,+,3,0,54,0.055556,0.000000,CGCCA,0,1.0
465903,chrY,90833626,+,3,0,56,0.053571,0.000000,GACTG,0,1.0
465904,chrY,90833629,+,5,1,55,0.090909,0.018182,TGCGT,1,1.0
465905,chrY,90833633,+,2,0,56,0.035714,0.000000,TACAG,0,1.0
465906,chrY,90833648,+,1,0,55,0.018182,0.000000,CTCAA,0,1.0

In [5]:
# focus on sites with called edited sites
wt.query("y_hat == 1")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
11,chr1,4846693,-,3,1,99,0.030303,0.010101,AGCTC,1,1.000000
14,chr1,4846710,-,8,3,83,0.096386,0.036145,ATCTT,1,0.761332
24,chr1,4846812,-,4,2,102,0.039216,0.019608,TGCTC,1,1.000000
25,chr1,4846819,-,2,1,94,0.021277,0.010638,TTCAG,1,1.000000
28,chr1,4846855,-,4,1,98,0.040816,0.010204,GGCTA,1,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
337734,chrY,90797058,+,1,1,61,0.016393,0.016393,CCCGC,1,1.000000
337758,chrY,90797198,+,1,1,65,0.015385,0.015385,GCCAC,1,1.000000
337760,chrY,90797201,+,2,1,65,0.030769,0.015385,ACCGA,1,1.000000
337781,chrY,90804604,+,2,2,66,0.030303,0.030303,CCCAC,1,1.000000
337783,chrY,90804618,+,3,2,65,0.046154,0.030769,CACGT,1,1.000000

In [6]:
# focus on sites with called edited sites (CNN model training dataset) and filtered by APOBEC1
wt.query("y_hat == 1").query("p_value < 0.01")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
115,chr1,4915457,+,4,2,51,0.078431,0.039216,TACTA,1,0.000047
132,chr1,4915694,+,7,2,51,0.137255,0.039216,TACTA,1,0.000521
185,chr1,4916328,+,2,2,60,0.033333,0.033333,ATCTT,1,0.000028
187,chr1,4916336,+,20,18,67,0.298507,0.268657,GCCGA,1,0.000316
197,chr1,4916406,+,3,3,67,0.044776,0.044776,GACTT,1,0.000099
...,...,...,...,...,...,...,...,...,...,...,...
336612,chrX,141022514,+,4,1,54,0.074074,0.018519,AACAG,1,0.000286
336630,chrX,141022655,+,3,1,52,0.057692,0.019231,AACTT,1,0.000013
336865,chrX,153996147,-,8,1,62,0.129032,0.016129,TACTC,1,0.000004
337139,chrX,158165691,+,6,4,125,0.048000,0.032000,ATCAA,1,0.000734
337338,chrX,161555354,+,4,2,133,0.030075,0.015038,AACTT,1,0.005799

In [7]:
ko.query("y_hat == 1")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
12,chr1,4846693,-,8,3,123,0.065041,0.024390,AGCTC,1,1.000000
25,chr1,4846807,-,15,4,126,0.119048,0.031746,AGCGC,1,1.000000
34,chr1,4846855,-,5,2,123,0.040650,0.016260,GGCTA,1,1.000000
99,chr1,4854322,-,6,3,131,0.045802,0.022901,GACGT,1,0.503792
118,chr1,4855906,-,57,14,70,0.814286,0.200000,CGCGG,1,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
465889,chrY,90827645,+,32,4,59,0.542373,0.067797,GACGG,1,1.000000
465893,chrY,90827692,+,5,2,59,0.084746,0.033898,TGCGT,1,1.000000
465898,chrY,90833568,+,1,1,53,0.018868,0.018868,GCCGA,1,1.000000
465899,chrY,90833582,+,32,3,56,0.571429,0.053571,GACGG,1,1.000000
465904,chrY,90833629,+,5,1,55,0.090909,0.018182,TGCGT,1,1.000000

In [8]:
ko.query("y_hat == 1").query("p_value < 0.01")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
279,chr1,4916252,+,3,1,91,0.032967,0.010989,AACAC,1,0.000367
289,chr1,4916336,+,24,20,104,0.230769,0.192308,GCCGA,1,0.000316
574,chr1,4967787,+,11,5,133,0.082707,0.037594,AACAT,1,0.004150
743,chr1,5206037,+,1,1,83,0.012048,0.012048,CTCAT,1,0.000248
807,chr1,5232494,+,24,3,68,0.352941,0.044118,TTCTG,1,0.000028
...,...,...,...,...,...,...,...,...,...,...,...
464338,chrX,139376011,+,1,1,60,0.016667,0.016667,AACAT,1,0.001633
464514,chrX,141022343,+,8,1,54,0.148148,0.018519,CTCAT,1,0.002212
465283,chrX,161555354,+,7,7,175,0.040000,0.040000,AACTT,1,0.005799
465350,chrX,161560774,+,8,2,176,0.045455,0.011364,TTCAT,1,0.008214
465423,chrX,161561750,+,27,5,202,0.133663,0.024752,AACAC,1,0.004498

In [9]:
# print intersection sites among WT and KO without correction
pd.merge(wt, ko, how="inner", on=["region", "position", "strand"]).shape[0]

260991

In [10]:
# print intersection sites among WT and KO with correction CNN
pd.merge(wt.query("y_hat == 1"), ko.query("y_hat == 1"), how="inner", on=["region", "position", "strand"]).shape[0]

8294

In [11]:
# print intersection sites among WT and KO with correction
pd.merge(wt.query("y_hat == 1").query("p_value < 0.01"), 
         ko.query("y_hat == 1").query("p_value < 0.01"), 
         how="inner", 
         on=["region", "position", "strand"]).shape[0]

387

## SNPs filtering
Variations were downloaded from https://hgdownload.soe.ucsc.edu/goldenPath/mm10/database/snp142.txt.gz and lifted-over to mm39 by CrossMap.py script (used by ensembl webapp).

In [12]:
vcf_filepath = "/lustre/bio_running/C_to_U_editing/refs/mm10/snp142.mm39.bed"
vcf = pd.read_table(vcf_filepath, error_bad_lines=False, warn_bad_lines=False, header=None)
vcf

,0,1,2,3,4,5,6,7,8,9
0,chr1,3070116,3070117,rs580370473,0,+,G,G,G/T,genomic
1,chr1,3070175,3070176,rs585444580,0,+,G,G,G/T,genomic
2,chr1,3070224,3070225,rs579469519,0,+,G,G,A/G,genomic
3,chr1,3070248,3070249,rs582985490,0,+,G,G,G/T,genomic
4,chr1,3070249,3070250,rs586234354,0,+,T,T,G/T,genomic
...,...,...,...,...,...,...,...,...,...,...
82219295,chrY_JH584303v1_random,114969,114970,rs108306402,0,+,A,A,A/C,genomic
82219296,chrY_JH584303v1_random,115198,115199,rs108041287,0,+,C,C,A/C,genomic
82219297,chrY_JH584303v1_random,123248,123249,rs108213532,0,-,T,T,A/G,genomic
82219298,chrY_JH584303v1_random,125055,125056,rs107955593,0,-,T,T,A/T,genomic
82219299,chrY_JH584303v1_random,125058,125059,rs107906264,0,-,G,G,C/T,genomic

In [13]:
vcf_ed = vcf.iloc[:,[0,2,3,9]]

In [14]:
vcf_ed.shape

(82219300, 4)

In [15]:
vcf_ed

                               0        2            3        9
0                           chr1  3070117  rs580370473  genomic
1                           chr1  3070176  rs585444580  genomic
2                           chr1  3070225  rs579469519  genomic
3                           chr1  3070249  rs582985490  genomic
4                           chr1  3070250  rs586234354  genomic
...                          ...      ...          ...      ...
82219295  chrY_JH584303v1_random   114970  rs108306402  genomic
82219296  chrY_JH584303v1_random   115199  rs108041287  genomic
82219297  chrY_JH584303v1_random   123249  rs108213532  genomic
82219298  chrY_JH584303v1_random   125056  rs107955593  genomic
82219299  chrY_JH584303v1_random   125059  rs107906264  genomic

[82219300 rows x 4 columns]

In [16]:
vcf_ed.columns = ["region", "position", "name", "molType"]

In [17]:
vcf_ed.dtypes

region      object
position     int64
name        object
molType     object
dtype: object

In [18]:
vcf_ed

                          region  position         name  molType
0                           chr1   3070117  rs580370473  genomic
1                           chr1   3070176  rs585444580  genomic
2                           chr1   3070225  rs579469519  genomic
3                           chr1   3070249  rs582985490  genomic
4                           chr1   3070250  rs586234354  genomic
...                          ...       ...          ...      ...
82219295  chrY_JH584303v1_random    114970  rs108306402  genomic
82219296  chrY_JH584303v1_random    115199  rs108041287  genomic
82219297  chrY_JH584303v1_random    123249  rs108213532  genomic
82219298  chrY_JH584303v1_random    125056  rs107955593  genomic
82219299  chrY_JH584303v1_random    125059  rs107906264  genomic

[82219300 rows x 4 columns]

In [19]:
vcf_ed.molType.value_counts()

genomic    82210892
cDNA           8395
mito             13
Name: molType, dtype: int64

In [20]:
# selecting only genomic SNPs
vcf_ed = vcf_ed.query("molType == 'genomic'")
vcf_ed

                          region  position         name  molType
0                           chr1   3070117  rs580370473  genomic
1                           chr1   3070176  rs585444580  genomic
2                           chr1   3070225  rs579469519  genomic
3                           chr1   3070249  rs582985490  genomic
4                           chr1   3070250  rs586234354  genomic
...                          ...       ...          ...      ...
82219295  chrY_JH584303v1_random    114970  rs108306402  genomic
82219296  chrY_JH584303v1_random    115199  rs108041287  genomic
82219297  chrY_JH584303v1_random    123249  rs108213532  genomic
82219298  chrY_JH584303v1_random    125056  rs107955593  genomic
82219299  chrY_JH584303v1_random    125059  rs107906264  genomic

[82210892 rows x 4 columns]

In [21]:
# produce a set with vcf_ed positions as region:position format
with tqdm(total=vcf_ed.shape[0]) as pbar:
    vcf_ed_pos = set()
    for var in vcf_ed.itertuples():
        vcf_ed_pos.add(f"{var[1]}:{var[2]}")
        pbar.update(1)
vcf_ed_pos

100%|██████████| 82210892/82210892 [02:09<00:00, 633645.75it/s]

{'chr3:4297596',
 'chr5:81227342',
 'chr6:129525989',
 'chr12:12924833',
 'chr11:32737894',
 'chr3:37809385',
 'chr8:6798784',
 'chr7:119450931',
 'chr13:23003645',
 'chr10:123160896',
 'chr5:41992931',
 'chr13:52410091',
 'chr2:15623536',
 'chr5:8050868',
 'chr16:41541451',
 'chr3:115740959',
 'chr2:56182609',
 'chr5:18309517',
 'chr18:75149194',
 'chr19:37639679',
 'chr8:13405246',
 'chr18:68331478',
 'chr1:158574339',
 'chr18:34696828',
 'chr12:73881971',
 'chr10:111202375',
 'chr18:88176957',
 'chr2:114897814',
 'chr17:28216453',
 'chr13:90308668',
 'chr1:158026540',
 'chr3:24041510',
 'chr8:16203749',
 'chr1:25887537',
 'chr14:105496862',
 'chr18:46234720',
 'chr1:29277350',
 'chr1:102103376',
 'chr7:143397646',
 'chr1:13613812',
 'chr5:82514110',
 'chr18:46014985',
 'chr14:101412878',
 'chr16:93613773',
 'chr15:6161735',
 'chr17:22570562',
 'chr1:72369616',
 'chr5:32361601',
 'chr9:26295642',
 'chr7:109071432',
 'chr2:111394186',
 'chr13:78889290',
 'chr5:151102072',
 'chr8:53988572',
 'chr4:134012695',
 'chr2:166124654',
 'chr7:53093100',
 'chr8:38205967',
 'chr4:27407199',
 'chr1:88884736',
 'chr13:80181389',
 'chr1:170077786',
 'chr4:112801329',
 'chr14:35646551',
 'chrX:72880543',
 'chr17:12480341',
 'chr9:101505616',
 'chr16:72886470',
 'chr7:135940576',
 'chr5:97248336',
 'chr11:99916536',
 'chr6:91602158',
 'chr10:84678371',
 'chr11:91319851',
 'chr4:16893683',
 'chrX:58573017',
 'chr17:15709667',
 'chr10:18046730',
 'chr9:105943067',
 'chr1:12038981',
 'chr11:60733633',
 'chr19:33143886',
 'chr12:96720016',
 'chr1:3440830',
 'chr7:33923817',
 'chr7:52358421',
 'chr15:57411146',
 'chr5:47066786',
 'chr12:42448212',
 'chr2:71558784',
 'chr8:109499956',
 'chr13:53082161',
 'chr4:25000812',
 'chr13:110149649',
 'chr2:121630318',
 'chr15:17453326',
 'chr13:30041627',
 'chr8:90426366',
 'chr4:7292977',
 'chr14:107837435',
 'chr1:165348800',
 'chr9:48744379',
 'chr2:130638040',
 'chr17:68972515',
 'chr9:36178848',
 'chr16:96440925',
 'chrX:96580377',
 'chr15:68932011',
 'chr1:106718794',
 'chr9:32730685',
 'chr3:119805257',
 'chr18:38715907',
 'chr18:21296764',
 'chr14:47569067',
 'chr10:9593809',
 'chr3:120629361',
 'chr11:62392152',
 'chr12:77388779',
 'chr10:117754088',
 'chr19:38118669',
 'chr4:71126851',
 'chr10:19018262',
 'chr14:9430839',
 'chr12:39860599',
 'chr11:115498317',
 'chr6:17734425',
 'chr8:4107548',
 'chr6:80775847',
 'chr14:28030546',
 'chr8:110342268',
 'chr10:89683396',
 'chr8:43901150',
 'chr7:134865717',
 'chr12:83490924',
 'chr17:94516482',
 'chr10:55615941',
 'chrX:139425968',
 'chr1:98360507',
 'chr12:97105985',
 'chr18:43303088',
 'chr7:78851946',
 'chr15:70934700',
 'chr19:29961219',
 'chr11:102943792',
 'chr18:56945635',
 'chr8:14494353',
 'chr2:159408912',
 'chr4:64599337',
 'chr9:25855195',
 'chr15:94518616',
 'chr5:88365939',
 'chr6:128051284',
 'chr10:75116420',
 'chr6:60827183',
 'chr13:53928527',
 'chr1:18441059',
 'chr15:71187467',
 'chr10:107753125',
 'chr16:65843590',
 'chr13:84975050',
 'chr11:114728483',
 'chr17:78531919',
 'chr13:21569739',
 'chr10:83085250',
 'chr8:98537850',
 'chr2:118366745',
 'chr19:42691487',
 'chrX:79800694',
 'chr6:105928376',
 'chr6:17913963',
 'chr6:115810839',
 'chr7:29308027',
 'chr9:48359708',
 'chr17:53746498',
 'chr5:6944895',
 'chr8:93902405',
 'chr13:26034220',
 'chr2:38454494',
 'chr19:47716545',
 'chr10:129677302',
 'chr7:91697087',
 'chr5:4067769',
 'chr3:74214756',
 'chr10:65955537',
 'chr6:37544484',
 'chr7:73518305',
 'chr14:81939806',
 'chr11:39004190',
 'chr18:30456308',
 'chr19:51762095',
 'chr2:140140391',
 'chr5:25282503',
 'chr12:28896398',
 'chr8:33568773',
 'chr8:81931519',
 'chr9:84503078',
 'chr6:55687897',
 'chr6:5303681',
 'chr9:106054396',
 'chr12:25764377',
 'chrX:12681818',
 'chr13:83806895',
 'chr6:147946548',
 'chr16:28131011',
 'chr4:21135329',
 'chrX:52892092',
 'chr10:98391854',
 'chr1:91237061',
 'chr2:133970870',
 'chr9:51153370',
 'chr12:29379058',
 'chr16:76116653',
 'chr1:6193711',
 'chr10:31868598',
 'chr10:70820058',
 'chr2:94269613',
 'chr6:102321732',
 'chr1:81985137',
 'chr14:107227635',
 'chr5:47533001',
 'chrX:8382572',
 'chr9:77181788',
 'chr1:120301097',
 'chr13:115297621',
 'chr15:88076844',
 'chr7:45206027',
 'chr13:12202605',
 'chr10:38656803',
 'chr6:74884063',
 'chr2:99822701',
 'chr3:11161366',
 'chr8:42849767',
 'chr16:23942966',
 'chr16:51107033',
 'chr2:152883255',
 'chr4:68821884',
 'chr4:107159449',
 'chr2:30976739',
 'chr5:138073249',
 'chr6:7319712',
 'chr10:116891835',
 'chrX:127764161',
 'chr7:99763056',
 'chr14:120502492',
 'chr2:50243569',
 'chr8:23244449',
 'chr14:46278603',
 'chr16:87014523',
 'chr10:47598573',
 'chr2:41268200',
 'chr3:97386498',
 'chr14:27582395',
 'chr12:35119292',
 'chr14:75796658',
 'chr3:6589469',
 'chr7:144243615',
 'chr1:167346334',
 'chr15:24992768',
 'chr6:103619847',
 'chr10:78516329',
 'chr8:115939103',
 'chr13:94016286',
 'chr6:75649418',
 'chr11:51274944',
 'chr16:7093325',
 'chr6:58106384',
 'chr4:26968619',
 'chr1:154677114',
 'chr9:66806558',
 'chr2:144515423',
 'chr4:6060454',
 'chr5:27780788',
 'chrX:81819641',
 'chr10:28942211',
 'chr1:92934166',
 'chr6:18383790',
 'chr1:59754001',
 'chr4:112458228',
 'chr2:103012037',
 'chr15:22485117',
 'chr1:135540534',
 'chr1:139870162',
 'chr2:144437567',
 'chr15:17486287',
 'chr10:11307943',
 'chr11:44653881',
 'chr16:25553406',
 'chr18:19246646',
 'chr11:88172255',
 'chr11:46669791',
 'chr14:9849628',
 'chr10:63534060',
 'chrX:168206663',
 'chr4:27375589',
 'chr7:12423389',
 'chr4:51312936',
 'chr10:118000218',
 'chr19:19566543',
 'chrX:92637997',
 'chr6:87085166',
 'chr2:110032509',
 'chr7:124787185',
 'chr9:87097862',
 'chr6:58123112',
 'chr8:50870728',
 'chr2:157451319',
 'chr8:14864231',
 'chr14:26340505',
 'chr16:85758014',
 'chr2:58637245',
 'chr12:55648185',
 'chr16:41031778',
 'chr10:81476231',
 'chr1:64745202',
 'chr17:25061287',
 'chr6:139382233',
 'chr6:124494602',
 'chr9:52101698',
 'chrX:18186303',
 'chrX:60581088',
 'chr11:20033464',
 'chr4:61763840',
 'chr2:166501232',
 'chr5:141699930',
 'chr11:99613103',
 'chr5:88014887',
 'chr4:113154844',
 'chr7:124747754',
 'chr16:6094842',
 'chr3:55052612',
 'chr11:78572926',
 'chr1:77356489',
 'chr17:45371289',
 'chr9:96804660',
 'chr9:112580442',
 'chr17:42771564',
 'chr1:155552955',
 'chr12:70018143',
 'chr9:33477663',
 'chr12:35467416',
 'chr17:22518086',
 'chr12:6817758',
 'chr19:8285028',
 'chr1:115504665',
 'chr2:29408451',
 'chr15:26837706',
 'chr4:100716538',
 'chr2:112607813',
 'chr16:6318331',
 'chr7:47287199',
 'chr18:50907365',
 'chr16:76807134',
 'chr6:4704377',
 'chr9:108384288',
 'chr11:24734794',
 'chr1:89522709',
 'chr15:18266819',
 'chr16:58174755',
 'chr10:112496360',
 'chr1_GL456221v1_random:67891',
 'chr16:57491261',
 'chr3:10210374',
 'chr1:155470603',
 'chr8:38791137',
 'chr19:33468490',
 'chr4:61806928',
 'chr16:53742764',
 'chr6:65671839',
 'chr5:97057989',
 'chr5:128653606',
 'chr11:108463572',
 'chr5:78640578',
 'chr5:112169255',
 'chr1:101953243',
 'chr5:97372482',
 'chr6:67743676',
 'chr19:54198359',
 'chr8:12864198',
 'chr16:38002690',
 'chr19:48413587',
 'chr8:103842242',
 'chr14:91013141',
 'chr12:29461272',
 'chrX:65981563',
 'chr1:127742755',
 'chr18:70735999',
 'chrX:119825380',
 'chr5:141807143',
 'chr10:25193991',
 'chr11:107202161',
 'chr13:92848551',
 'chr4:106718724',
 'chr13:28766562',
 'chr3:54701030',
 'chr10:125926974',
 'chr16:97812289',
 'chr8:7533889',
 'chr13:56424729',
 'chr17:87954394',
 'chr8:105306511',
 'chr12:27279663',
 'chr2:97914786',
 'chr16:89006579',
 'chr10:109353372',
 'chr2:71483674',
 'chr7:81590751',
 'chr12:61816239',
 'chr8:99894765',
 'chr8:5828900',
 'chr5:20529625',
 'chr5:104576778',
 'chr17:49124165',
 'chr12:56560883',
 'chr9:38917300',
 'chr6:138502200',
 'chr13:76374502',
 'chr13:111348324',
 'chr10:44836444',
 'chr6:61264476',
 'chr4:49966146',
 'chrX:156393753',
 'chr12:23970285',
 'chr13:72985942',
 'chr14:99708251',
 'chr6:135925700',
 'chr10:48025538',
 'chr18:22419995',
 'chr14:52821104',
 'chr6:60093793',
 'chr4:55174558',
 'chr7:67569921',
 'chr1:53281475',
 'chr4:77122370',
 'chr6:111310100',
 'chr8:42889871',
 'chr10:120673824',
 'chr11:80632982',
 'chr1:45122011',
 'chr14:119057236',
 'chr7:46308626',
 'chrX:104479435',
 'chr9:7946540',
 'chr1:183728212',
 'chr3:43119614',
 'chr4:75969364',
 'chr6:135016474',
 'chr9:5207015',
 'chr1:37432234',
 'chr2:168392917',
 'chr7:80193991',
 'chr7:65983356',
 'chr14:44152523',
 'chr4:19127439',
 'chr1:110644581',
 'chr7:51324994',
 'chr13:76538821',
 'chr19:32150429',
 'chr10:58986480',
 'chr2:64779791',
 'chr17:84381632',
 'chr1:99172419',
 'chr8:32081069',
 'chr13:43350348',
 'chr14:22848167',
 'chr15:98685767',
 'chr18:9271320',
 'chr12:64006959',
 'chr8:114480098',
 'chr9:39013575',
 'chr9:108573798',
 'chr12:32745032',
 'chr6:17762882',
 'chr2:119484692',
 'chr6:110415573',
 'chr13:104464593',
 'chr6:126576203',
 'chr6:140950538',
 'chr5:130291882',
 'chr17:82296304',
 'chr4:139450306',
 'chr6:8280284',
 'chr1:51532678',
 'chr11:43950248',
 'chr10:7868341',
 'chr13:31539140',
 'chr11:11863438',
 'chr10:98815983',
 'chr15:27967801',
 'chr5:133928629',
 'chr17:49280755',
 'chr19:44461782',
 'chr9:92195555',
 'chr2:108606707',
 'chr8:94815898',
 'chr9:104660287',
 'chr14:31405431',
 'chr17:27604845',
 'chr12:96230717',
 'chr18:65834564',
 'chr10:101296452',
 'chr15:34958958',
 'chr6:45772690',
 'chr13:94025183',
 'chr9:25606866',
 'chr10:48104276',
 'chr17:8064307',
 'chr3:18861041',
 'chr6:121657912',
 'chr8:7177515',
 'chr17:81948574',
 'chr12:32352229',
 'chrX:143717762',
 'chr9:82577697',
 'chr18:71772739',
 'chr4:139948516',
 'chr9:85957643',
 'chr16:75644414',
 'chr17:31497393',
 'chr13:24487872',
 'chr13:118227890',
 'chr6:87901164',
 'chr19:42029144',
 'chr4:39762257',
 'chr5:103732003',
 'chrX:51940239',
 'chr1:140851192',
 'chr12:102066118',
 'chr2:13710776',
 'chr7:88835575',
 'chr1:181508032',
 'chr10:15289113',
 'chr6:97522338',
 'chr5:60136299',
 'chr7:66178006',
 'chr15:81956680',
 'chr2:137892964',
 'chr5:89865054',
 'chr15:36371359',
 'chr7:108895922',
 'chr3:19573724',
 'chr3:20515593',
 'chr10:118827514',
 'chr5:50697964',
 'chr11:13123478',
 'chr4:105190403',
 'chr9:106860222',
 'chr8:122279835',
 'chr1:24046133',
 'chr15:99942474',
 'chr18:75309009',
 'chr19:7739345',
 'chr2:170818189',
 'chr3:59065841',
 'chr4:130725975',
 'chr17:20176371',
 'chr18:56353672',
 'chr17:88961190',
 'chr2:48460338',
 'chr3:29163261',
 'chr7:49262075',
 'chr1:105151418',
 'chr10:103279243',
 'chr1:64266390',
 'chr5:23051094',
 'chrX:15883848',
 'chr6:119559310',
 'chr3:131050700',
 'chr11:102478933',
 'chr6:144526388',
 'chr11:87612540',
 'chr6:124163311',
 'chr1:147494968',
 'chr15:85881264',
 'chr11:36666354',
 'chr8:74135805',
 'chr10:91832080',
 'chr6:111199582',
 'chr3:153047353',
 'chr13:72814111',
 'chr10:12790955',
 'chr1:163502625',
 'chr1:107079887',
 'chr7:114624857',
 'chr19:19477354',
 'chr4:130831594',
 'chr7:52876934',
 'chr2:124280676',
 'chr8:74289266',
 'chr1:81925139',
 'chr16:21916891',
 'chr15:102773152',
 'chr1:47302665',
 'chr2:39796614',
 'chr12:79357887',
 'chr13:14199821',
 'chr3:82278240',
 'chr17:13430086',
 'chr17:54211379',
 'chr8:42640622',
 'chr8:56609206',
 'chr16:15541212',
 'chr7:96120723',
 'chr14:9193566',
 'chr8:54230315',
 'chr2:23228649',
 'chr1:131800096',
 'chr16:85954544',
 'chr4:59907762',
 'chr17:71003471',
 'chr5:130070818',
 'chr2:37044696',
 'chr13:102092978',
 'chr14:116072935',
 'chr3:61839395',
 'chr17:28488034',
 'chr7:84867520',
 'chrX:45090492',
 'chr16:90508708',
 'chr6:141343131',
 'chr4:53571309',
 'chr9:31311502',
 'chr5:102096480',
 'chr3:153404341',
 'chr6:112690265',
 'chr2:74034556',
 'chrX:107651317',
 'chrX:158381884',
 'chr9:53346693',
 'chr11:24472951',
 'chr10:67778198',
 'chr11:5461419',
 'chr12:12819937',
 'chr5:84753801',
 'chr5:18861206',
 'chrX:119948236',
 'chr9:26027540',
 'chr6:146378619',
 'chr14:89871574',
 'chr16:65716104',
 'chr13:57103948',
 'chr1:191115027',
 'chr15:47438157',
 'chr14:107816471',
 'chr11:46333128',
 'chr10:30925595',
 'chr12:112454866',
 'chr17:68456232',
 'chr4:30318462',
 'chr8:3832632',
 'chr9:111466739',
 'chr17:92918837',
 'chr3:62393119',
 'chr7:133539729',
 'chr1:23284114',
 'chr6:67690986',
 'chr6:141101073',
 'chr14:4461629',
 'chr17:66864759',
 'chr15:52390073',
 'chr6:73315596',
 'chr4:70621288',
 'chr4:38746168',
 'chr15:30668539',
 'chr6:135506376',
 'chr8:44360601',
 'chr2:159099507',
 'chr3:135528400',
 'chr13:117379346',
 'chr4:11383287',
 'chr5:49573373',
 'chr2:30994852',
 'chr4:8347738',
 'chr4:48015797',
 'chr6:35714677',
 'chr17:43983810',
 'chrX:28796867',
 'chr10:86375066',
 'chr13:104914575',
 'chr1:167545655',
 'chr9:59114524',
 'chr12:117875418',
 'chr18:15970890',
 'chr1:106744470',
 'chr12:82703888',
 'chr5:142165919',
 'chr14:103801502',
 'chr4:58803922',
 'chr4:107940759',
 'chrX:20087133',
 'chr13:12433371',
 'chr2:163319819',
 'chr2:142969482',
 'chr7:133094915',
 'chr8:127846354',
 'chr7:17430547',
 'chr16:45268133',
 'chr3:4205910',
 'chr8:87878127',
 'chr6:63430262',
 'chr1:90976508',
 'chr15:71373005',
 'chr16:78425277',
 'chr8:99553806',
 'chr4:7482158',
 'chr15:78279821',
 'chr14:112496850',
 'chr14:25650878',
 'chr14:86906294',
 'chr10:7970116',
 'chr14:91583645',
 'chr2:151634768',
 'chr12:18981695',
 'chr1:183876419',
 'chr5:135257330',
 'chr2:46529142',
 'chrX:57691305',
 'chr14:109216398',
 'chr12:93148035',
 'chr6:116828211',
 'chr1:3792216',
 'chr18:71450083',
 'chr15:64921732',
 'chr10:71811881',
 'chr8:53732890',
 'chr1:185488027',
 'chr5:81033975',
 'chr13:98718164',
 'chr5:139846009',
 'chr11:60634945',
 'chr1:142101287',
 'chrX:153496121',
 'chr7:121810453',
 'chr3:15551561',
 'chr7:40090200',
 'chr1:172078588',
 'chr14:53035848',
 'chr15:5849042',
 'chr6:49406994',
 'chrX:162555804',
 'chr3:112461194',
 'chr1:134818194',
 'chr12:28711189',
 'chr5:139689952',
 'chr16:94664337',
 'chrX:79616145',
 'chr8:69546265',
 'chr5:51859685',
 'chr9:116624033',
 'chr5:49629055',
 'chr2:28612272',
 'chr15:27830022',
 'chr10:26950513',
 'chr12:69726037',
 'chr7:136136566',
 'chr5:38819449',
 'chr5:93604508',
 'chr17:58165508',
 'chr2:92324201',
 'chr3:139051234',
 'chr17:47760847',
 'chr13:26033687',
 'chr2:102760757',
 'chr5:84750487',
 'chr7:139740350',
 'chr4:112561896',
 'chr5:23338814',
 'chr11:84635470',
 'chr10:99950989',
 'chrX:12537124',
 'chr8:112282002',
 'chr5:15865046',
 'chr16:39229940',
 'chr6:13782941',
 'chr10:51846528',
 'chr14:74045836',
 'chr8:110304176',
 'chr7:39053800',
 'chr14:6244106',
 'chr3:116224878',
 'chr15:33429045',
 'chr15:55004641',
 'chr10:73390605',
 'chr12:42525967',
 'chr4:22031154',
 'chr5:126407921',
 'chr10:27534149',
 'chr1:88493156',
 'chr19:31623956',
 'chr14:111133302',
 'chr19:23027016',
 'chr1:178297957',
 'chr15:100345867',
 'chr4:4373122',
 'chr8:88962304',
 'chr6:23838760',
 'chr16:23473376',
 'chr12:6893812',
 'chr8:99181351',
 'chr6:29937082',
 'chrX:40031650',
 'chr11:48597288',
 'chr13:47820693',
 'chr14:115788583',
 'chr6:25800629',
 'chr13:56766837',
 'chr3:63024251',
 'chr12:85070977',
 'chr1:158888972',
 'chr15:18294844',
 'chr13:35248287',
 'chr2:155049737',
 'chr4:141346468',
 'chr2:180942038',
 'chr5:15070682',
 'chr14:34136883',
 'chr9:108886718',
 'chr15:71713957',
 'chr15:61199316',
 'chr6:86190631',
 'chr18:12932565',
 'chr1:182456354',
 'chr16:26532184',
 'chr1:165882300',
 'chr8:86173244',
 'chr13:96762524',
 'chr19:21121257',
 'chr12:115498090',
 'chr4:18524066',
 'chr8:56132033',
 'chr10:19089916',
 'chr1:81416400',
 'chr12:50717305',
 'chr2:161182017',
 'chr3:73796197',
 'chr12:69491204',
 'chr5:42626621',
 'chr6:119322550',
 'chr10:11377190',
 'chr12:96685225',
 'chr18:41729252',
 'chr5:78959376',
 'chr5:79741676',
 'chr7:9806521',
 'chr14:9473497',
 'chr11:60072009',
 'chr13:55501716',
 'chr11:115300798',
 'chr2:46818258',
 'chr17:77590949',
 'chr1:115452119',
 'chr5:86066506',
 'chr11:120701384',
 'chr11:90236323',
 'chr2:21272064',
 'chr19:21740203',
 'chr6:63846396',
 'chr7:123551731',
 'chr4:34415523',
 'chr8:65061697',
 'chr5:36134816',
 'chr19:40424679',
 'chr4:150228266',
 'chr3:78535219',
 'chr15:66386886',
 'chr5:149912861',
 'chrX:88281396',
 'chr13:114863939',
 'chr2:140672923',
 'chrX:156101112',
 'chr6:115750387',
 'chr19:12406921',
 'chrX:109170858',
 'chr13:79049997',
 'chr5:37071739',
 'chr1:184937764',
 'chr10:102383795',
 'chr16:24613152',
 'chr2:20335835',
 'chr7:36521119',
 'chr3:82438932',
 'chr13:98167635',
 'chr3:16173966',
 'chr15:99097538',
 'chrX:63286205',
 'chr5:101459436',
 'chr2:126433349',
 'chr5:50569565',
 'chr17:24982963',
 'chr9:121046002',
 'chr5:99131196',
 'chr1:125569293',
 'chr10:89167800',
 'chr13:110049847',
 'chr8:70969760',
 'chr3:123847855',
 'chr4:121513723',
 'chr7:135887106',
 'chr7:88478696',
 'chr11:51892841',
 'chr1:34045015',
 'chr13:103371293',
 'chr7:50999357',
 'chr7:68047417',
 'chr19:25152056',
 'chr19:29538224',
 'chr8:112723873',
 'chr19:9720921',
 'chr19:36857932',
 'chr7:6156495',
 'chr6:91216614',
 'chr14:26885442',
 'chr6:16688929',
 'chr17:40375467',
 'chr4:138688576',
 'chrX:144555299',
 'chr17:89744784',
 'chr12:29715269',
 'chr9:77117999',
 'chr11:60323986',
 'chr1:168986928',
 'chr11:78367958',
 'chr18:3349795',
 'chr18:22864632',
 'chr18:84160312',
 'chr19:23039455',
 'chr3:35993121',
 'chr19:49251218',
 'chr1:9845065',
 'chr7:63656903',
 'chr3:7521550',
 'chr12:85556336',
 'chr1:76609441',
 'chr1:84030257',
 'chr6:109774832',
 'chrX:128439482',
 'chrX:157719584',
 'chr16:33270294',
 'chr1:77013086',
 'chr5:103622056',
 'chr7:36189298',
 'chr4:80519574',
 'chr3:93891641',
 'chr7:49198843',
 'chr6:19835686',
 'chrX:62204618',
 'chr2:165644177',
 'chr14:108032913',
 'chr1:43933966',
 'chr2:8730471',
 'chr3:81675570',
 'chr5:79853139',
 'chr1:50613348',
 'chr17:55648574',
 'chr5:19790883',
 'chrX:65742512',
 'chr11:54810161',
 'chr10:56065711',
 'chr11:88330227',
 'chr1:155339667',
 'chrX:37550072',
 'chr18:68811278',
 'chr10:6461455',
 'chr2:160931890',
 'chr7:127267699',
 'chr4:10333145',
 'chr12:68659553',
 'chr1:160756540',
 'chr15:77143721',
 'chr14:10995340',
 'chr14:91070087',
 'chr19:52060981',
 'chr3:39774492',
 'chrX:127353154',
 'chr5:134788937',
 'chr1:145194804',
 'chr8:92211538',
 'chr17:69931396',
 'chr1_GL456211v1_random:31745',
 'chr13:97607016',
 'chr5:99378165',
 'chrX:13841904',
 'chr10:104125642',
 'chr3:108916709',
 'chr3:42773274',
 'chr16:28432548',
 'chr14:106123842',
 'chr3:84325438',
 'chr4:124161136',
 'chr5:102145978',
 'chr6:85630568',
 'chr10:16378095',
 'chr7:134215570',
 'chr9:54641333',
 'chr2:72040222',
 'chr5:98398821',
 'chr11:12860472',
 'chr6:111072727',
 'chr9:122861589',
 'chr1:103428007',
 'chr11:6307769',
 ...}

In [22]:
len(vcf_ed_pos)

80657750

In [23]:
# produce sets for wt and ko that after correction are called as edited (above 99th percentile CC data) and with pvalue of 
# abobec1 model lower than significance level 0.01
wt_ed_pos = set()
for var in wt.query("y_hat == 1").query("p_value < 0.01").itertuples():
    wt_ed_pos.add(f"{var[1]}:{var[2]}")

ko_ed_pos = set()
for var in ko.query("y_hat == 1").query("p_value < 0.01").itertuples():
    ko_ed_pos.add(f"{var[1]}:{var[2]}")

In [24]:
len(wt_ed_pos)

1636

In [25]:
len(ko_ed_pos)

1230

In [26]:
# intersection between ko and wt sites after SNPs filtering and APOBEC1 model selection
len(wt_ed_pos.intersection(ko_ed_pos))

387

In [27]:
len(wt_ed_pos.difference(vcf_ed_pos)) # number of edited sites for WT after SNPs filtering and APOBEC1 model selection

1591

In [28]:
len(ko_ed_pos.difference(vcf_ed_pos)) # number of edited sites for KO after SNPs filtering and APOBEC1 model selection

1189

In [29]:
# filter out position involved into genomic variation and load into pandas dataframes
wt_ed_pos = wt_ed_pos.difference(vcf_ed_pos)
ko_ed_pos = ko_ed_pos.difference(vcf_ed_pos)

## Let's filter out m5C known positions
The m5C known positions for mm10 Mus musculus assembly were downloaded from m5C-Atlas (url: https://www.xjtlu.edu.cn/biologicalsciences/m5c-atlas). These positions were thus lifted-over from mm10 to mm39 genome space coordinates.

In [30]:
# load m5C_mm39.bed file
m5C_mm39_bed = pd.read_table("/lustre/bio_running/C_to_U_editing/refs/mm10/m5C_mm39.bed", header=None)
m5C_mm39_bed

           0          1          2  3  4  5
0       chr1   13636583   13636584  .  0  -
1       chr1   13646667   13646668  .  0  -
2       chr1   20678627   20678628  .  0  -
3       chr1   20873518   20873519  .  0  -
4       chr1   20884976   20884977  .  0  -
...      ...        ...        ... .. .. ..
16274   chr9  108378490  108378491  .  0  +
16275  chr14   19802519   19802520  .  0  +
16276  chr18   34901490   34901491  .  0  +
16277   chr2   25392997   25392998  .  0  +
16278  chr18   61262156   61262157  .  0  +

[16279 rows x 6 columns]

In [31]:
# produce a set with vcf_ed positions as region:position format
with tqdm(total=m5C_mm39_bed.shape[0]) as pbar:
    m5C_pos = set()
    for var in m5C_mm39_bed.itertuples():
        m5C_pos.add(f"{var[1]}:{var[2]}")
        pbar.update(1)
m5C_pos

100%|██████████| 16279/16279 [00:00<00:00, 440777.47it/s]

{'chr1:180690068',
 'chr5:144192055',
 'chr13:67854574',
 'chrX:8021456',
 'chr15:85249546',
 'chr15:36771335',
 'chr8:87611571',
 'chr16:20520384',
 'chr15:79672940',
 'chr9:108172840',
 'chr17:24631446',
 'chr10:7069695',
 'chr2:34716200',
 'chr6:48001546',
 'chr7:59634791',
 'chr8:124130253',
 'chr5:129937483',
 'chr12:100173753',
 'chr15:98029835',
 'chr5:34154340',
 'chr13:32986609',
 'chr2:25254635',
 'chr19:7404870',
 'chr3:96080881',
 'chr8:71151835',
 'chr12:100173705',
 'chr3:132545189',
 'chr2:32679263',
 'chr5:93189243',
 'chr11:21507456',
 'chrX:135737559',
 'chr8:106927193',
 'chr10:80269222',
 'chr15:74620622',
 'chr4:122752089',
 'chr4:140793897',
 'chr16:10105998',
 'chr5:36555248',
 'chr16:16843951',
 'chr6:42338258',
 'chr10:95011529',
 'chr2:163860378',
 'chr17:24292229',
 'chr16:20520576',
 'chr1:171068649',
 'chr15:36771405',
 'chr10:62105177',
 'chr12:112566572',
 'chr11:116250122',
 'chr4:138184747',
 'chr11:100953481',
 'chr11:7120611',
 'chr18:37973708',
 'chr4:108486786',
 'chr15:10493584',
 'chr14:70432879',
 'chr17:10430490',
 'chr2:180284407',
 'chr3:136583424',
 'chr17:14119397',
 'chr15:89257732',
 'chr9:37455879',
 'chr6:72407473',
 'chr8:71945700',
 'chr2:151384623',
 'chr17:57058788',
 'chr7:19266651',
 'chr11:101863386',
 'chr17:84493681',
 'chr10:81401812',
 'chrX:10462074',
 'chr4:138044737',
 'chr9:37456335',
 'chr5:122243054',
 'chr8:70637730',
 'chr14:52246432',
 'chr11:101657930',
 'chrX:162761740',
 'chr18:20691281',
 'chrX:7518830',
 'chr5:122591886',
 'chr17:56586164',
 'chr17:35486231',
 'chr14:63380312',
 'chr11:21189170',
 'chr9:37463901',
 'chr7:19430380',
 'chr17:12917225',
 'chr7:127349483',
 'chr7:83532987',
 'chr8:71358684',
 'chr8:94906877',
 'chr16:37706515',
 'chr3:136642552',
 'chr13:100969715',
 'chr8:96440916',
 'chr8:96440903',
 'chr6:124740055',
 'chr17:85373643',
 'chr7:19129451',
 'chr2:37464532',
 'chr14:99278064',
 'chr18:82602385',
 'chr7:58972459',
 'chr17:40157231',
 'chr7:142777727',
 'chr9:79687829',
 'chr6:108459900',
 'chr11:46089864',
 'chr8:105144690',
 'chr13:58275103',
 'chr18:10623683',
 'chr7:126591935',
 'chr7:110655315',
 'chr3:103075457',
 'chr5:142444457',
 'chr8:96440921',
 'chr3:96127467',
 'chr2:103599845',
 'chr2:69514279',
 'chr2:28456439',
 'chr16:18444116',
 'chr2:73490091',
 'chr9:72366488',
 'chr4:137691905',
 'chr6:124912743',
 'chr2:112070241',
 'chr3:116537721',
 'chr16:13631917',
 'chr17:63806253',
 'chr6:88462881',
 'chr8:81465749',
 'chr7:99127492',
 'chr3:87847528',
 'chr8:95506371',
 'chr11:120698573',
 'chr10:127582964',
 'chr5:108732210',
 'chr11:68983037',
 'chr5:108673260',
 'chr2:158453416',
 'chr8:96440457',
 'chr9:106763813',
 'chr14:21847885',
 'chr3:108015824',
 'chr7:44824429',
 'chr10:79746767',
 'chr7:30136264',
 'chr18:82603010',
 'chr4:155706792',
 'chr8:85397461',
 'chr4:129005549',
 'chr6:124894738',
 'chr18:60949389',
 'chr7:125202782',
 'chr13:14228028',
 'chr8:61365381',
 'chr3:65284227',
 'chr4:46115150',
 'chr8:85637997',
 'chr6:42338252',
 'chr5:37604868',
 'chrX:7789316',
 'chr18:20799629',
 'chr1:37758824',
 'chr17:57387757',
 'chr12:51791043',
 'chr15:98703295',
 'chr5:104240869',
 'chr5:104240315',
 'chr11:94896232',
 'chr2:125515259',
 'chr2:119799459',
 'chr9:66031964',
 'chr12:4957515',
 'chr5:137286582',
 'chr2:24945721',
 'chr5:66844420',
 'chr1:92945177',
 'chr8:70750590',
 'chr14:63380336',
 'chr11:97574592',
 'chr3:90395061',
 'chr9:37456397',
 'chr2:113622350',
 'chr19:24454176',
 'chr11:120849236',
 'chr2:179617727',
 'chr15:78734825',
 'chr6:38583497',
 'chr14:76325316',
 'chr11:116743419',
 'chr4:101031393',
 'chr1:92970461',
 'chr12:44647822',
 'chr12:81244939',
 'chr12:59005694',
 'chrX:73268458',
 'chr2:31501594',
 'chr8:71152233',
 'chr11:55310626',
 'chr6:116196933',
 'chr8:120536442',
 'chr5:137064166',
 'chr2:28472857',
 'chr13:67621254',
 'chr6:108459898',
 'chr9:45772829',
 'chrX:7788377',
 'chr17:64616509',
 'chr7:16545758',
 'chr17:36145487',
 'chr9:21149844',
 'chr18:58011914',
 'chr2:70655583',
 'chr17:56586428',
 'chr10:80121169',
 'chr7:140442904',
 'chr5:139258549',
 'chr11:96939924',
 'chr3:95126536',
 'chr5:142889506',
 'chr10:79552578',
 'chr14:70801101',
 'chr16:10242169',
 'chr6:129519231',
 'chr16:65636556',
 'chr11:45871143',
 'chr8:96433186',
 'chr2:122199346',
 'chr7:30656126',
 'chr6:125290773',
 'chr6:129518940',
 'chr16:45202858',
 'chr7:30141620',
 'chr8:71914430',
 'chr10:57392567',
 'chr8:123352315',
 'chr4:140449472',
 'chr7:18787896',
 'chr11:68101468',
 'chr7:105216946',
 'chrX:20853224',
 'chr18:61118077',
 'chr7:81479079',
 'chr18:73706782',
 'chr4:132555414',
 'chr6:48514707',
 'chr11:76350057',
 'chr7:24687516',
 'chr8:96439892',
 'chr15:36771361',
 'chr6:56755420',
 'chr13:21627136',
 'chr11:59347123',
 'chr7:15651327',
 'chr3:108762888',
 'chr7:101917335',
 'chr2:152239554',
 'chr19:24008233',
 'chr4:141345829',
 'chr4:130210325',
 'chr7:45566105',
 'chr7:100483324',
 'chr2:14152183',
 'chr8:85808634',
 'chr13:60324920',
 'chr1:191343971',
 'chr6:131365073',
 'chr9:106763239',
 'chr7:110670283',
 'chr16:10103446',
 'chr11:70498680',
 'chr4:140704690',
 'chr2:131089378',
 'chr15:85590930',
 'chr4:128952261',
 'chr3:34731917',
 'chr7:79999379',
 'chr6:124744059',
 'chr11:46087029',
 'chr15:103223161',
 'chr7:24680985',
 'chr4:131650854',
 'chr17:27422897',
 'chr5:150561708',
 'chr7:24584185',
 'chr11:3083150',
 'chr2:71107102',
 'chr2:30362756',
 'chr14:70432867',
 'chr3:157737120',
 'chr8:106927191',
 'chr4:137691921',
 'chr7:35090807',
 'chr17:57387193',
 'chr14:52148998',
 'chr15:25413802',
 'chr15:80171577',
 'chr3:121940864',
 'chr13:35174334',
 'chr9:37456391',
 'chr5:43391375',
 'chr8:95506456',
 'chrX:13352860',
 'chr1:85746079',
 'chr11:68877660',
 'chr15:83960703',
 'chr18:82602314',
 'chr9:103242700',
 'chr15:83012198',
 'chr10:81395418',
 'chr2:32701187',
 'chr4:43031080',
 'chrX:10451868',
 'chr4:34550785',
 'chr11:115311136',
 'chr7:18810466',
 'chr1:164270910',
 'chr2:102281901',
 'chr6:87958433',
 'chr2:180790562',
 'chr10:11089623',
 'chr3:57754961',
 'chr11:116228438',
 'chr2:163860000',
 'chr15:102343566',
 'chr7:81479044',
 'chr3:88249864',
 'chr4:126637777',
 'chr13:24916539',
 'chr18:34996512',
 'chr5:104240655',
 'chr11:69921260',
 'chr13:74470978',
 'chr3:94914349',
 'chr4:138184875',
 'chr2:174269449',
 'chr5:23915140',
 'chr19:36826760',
 'chr8:71207475',
 'chr4:139076950',
 'chr10:126904001',
 'chr16:32643909',
 'chr16:43789674',
 'chr18:82602649',
 'chr2:148713851',
 'chr2:164349768',
 'chr1:104921786',
 'chr2:155119460',
 'chr11:69934575',
 'chr7:44187458',
 'chr7:27235323',
 'chr7:111692289',
 'chr19:6952693',
 'chr16:20040453',
 'chrX:149766783',
 'chr6:38583526',
 'chr2:158226073',
 'chr19:5143042',
 'chr9:37463873',
 'chr15:58761138',
 'chr6:48514722',
 'chr2:158225409',
 'chr19:5849227',
 'chrX:69408496',
 'chr18:61118380',
 'chr3:45374731',
 'chr2:151937265',
 'chr10:81401760',
 'chr4:138184578',
 'chr13:49495129',
 'chr8:13835844',
 'chr16:10103382',
 'chr2:52027214',
 'chr1:42737972',
 'chr7:16619401',
 'chr14:66598913',
 'chr18:82603361',
 'chr10:79952093',
 'chr2:52095681',
 'chrX:8005739',
 'chr3:88843554',
 'chr7:16650587',
 'chr15:27593336',
 'chr8:70745715',
 'chr7:127120663',
 'chr12:102360737',
 'chr18:11793856',
 'chr9:46141466',
 'chr16:90735632',
 'chr15:31617224',
 'chr15:79670800',
 'chr8:85366005',
 'chr18:61118125',
 'chr5:143534564',
 'chr14:56119018',
 'chr16:94269813',
 'chr1:153780376',
 'chr15:102144451',
 'chr5:33184989',
 'chr19:10570126',
 'chr13:73764128',
 'chr12:100174209',
 'chr7:27232042',
 'chr3:100854792',
 'chr5:128851406',
 'chr10:127355345',
 'chr5:143158781',
 'chr17:32524252',
 'chr12:109532839',
 'chr2:167313389',
 'chr5:65650100',
 'chr15:76899930',
 'chr19:5779527',
 'chr7:19430850',
 'chr6:135114984',
 'chr6:125114098',
 'chr5:109703451',
 'chr7:33832351',
 'chrX:158756325',
 'chr2:131754201',
 'chr15:83960814',
 'chr4:130206114',
 'chr8:71152292',
 'chr15:79670806',
 'chr14:66598931',
 'chr17:5046740',
 'chr7:126092085',
 'chr9:103061435',
 'chr8:96440687',
 'chrX:94990580',
 'chr14:32300145',
 'chr11:103807409',
 'chr16:10105991',
 'chr7:106809621',
 'chr1:191353910',
 'chr10:72510350',
 'chr19:47843684',
 'chr9:37456366',
 'chr14:63380308',
 'chr8:96440666',
 'chr7:16619252',
 'chr2:73445045',
 'chr2:181226131',
 'chrX:12521597',
 'chr17:17679399',
 'chr18:82603112',
 'chr5:148251331',
 'chr12:111637718',
 'chr5:77415888',
 'chr10:80983922',
 'chr4:129991707',
 'chr17:8641332',
 'chr1:33891425',
 'chr19:61112454',
 'chr10:39952204',
 'chr2:26286613',
 'chr7:18816438',
 'chr4:116409972',
 'chr7:30656122',
 'chr4:128461021',
 'chr9:56053843',
 'chr19:21257847',
 'chr18:40352299',
 'chr2:32678874',
 'chr11:72010995',
 'chr7:45483022',
 'chr11:83309928',
 'chrX:8759261',
 'chr16:18653711',
 'chr17:47904497',
 'chr4:97671390',
 'chr17:35154850',
 'chr10:66847112',
 'chr1:86272956',
 'chr6:86251912',
 'chr16:18444161',
 'chr11:120849233',
 'chr15:103223158',
 'chr8:117983780',
 'chr7:30134764',
 'chr13:67854545',
 'chr1:92943651',
 'chr14:36843051',
 'chr2:91343326',
 'chr15:5190087',
 'chr1:185055990',
 'chr14:52552694',
 'chr7:45523267',
 'chr2:25359094',
 'chr12:21336172',
 'chr10:80880310',
 'chr8:71211152',
 'chr7:26868165',
 'chr4:119164921',
 'chr10:79518237',
 'chr3:89675551',
 'chr4:141391269',
 'chr1:153784470',
 'chr5:137952867',
 'chr9:37456385',
 'chr9:37457266',
 'chr2:180949154',
 'chr15:78792594',
 'chr11:103737270',
 'chr8:96439809',
 'chr3:110153686',
 'chr7:24709981',
 'chr7:89497842',
 'chr9:37463851',
 'chr14:51045063',
 'chr18:20799573',
 'chr8:125675513',
 'chr2:163859996',
 'chr19:46301363',
 'chr3:104725394',
 'chr15:83263279',
 'chr4:109310504',
 'chr15:75958006',
 'chr12:100173785',
 'chr6:129518991',
 'chr5:115770128',
 'chr15:99397226',
 'chr12:76380264',
 'chr18:7869373',
 'chr1:164265541',
 'chr15:75941498',
 'chr11:106811083',
 'chr4:44762262',
 'chr6:129518257',
 'chr10:128748167',
 'chr2:3179317',
 'chr8:8668594',
 'chr14:99272693',
 'chr8:123792320',
 'chr3:133945652',
 'chr19:4964619',
 'chr8:111684288',
 'chr15:76899920',
 'chr11:97402859',
 'chr17:26102651',
 'chr17:57330095',
 'chr16:10560082',
 'chr8:71945746',
 'chr5:88798221',
 'chr19:42022237',
 'chr19:5852067',
 'chr1:55120911',
 'chr11:108814318',
 'chr14:66218862',
 'chr7:78432556',
 'chr7:117725649',
 'chr5:120671925',
 'chr4:129030899',
 'chr2:29821474',
 'chr5:107507674',
 'chr7:80052388',
 'chr10:67724804',
 'chr1:75193039',
 'chr9:37456398',
 'chr5:136178118',
 'chr12:100174257',
 'chr17:36169829',
 'chr2:131779966',
 'chr11:46098299',
 'chr18:84686050',
 'chr7:27232036',
 'chr17:26052308',
 'chr18:82603225',
 'chr7:126465949',
 'chr3:119513883',
 'chr2:154713531',
 'chr7:45482372',
 'chr11:3466275',
 'chr14:66218338',
 'chr12:85281897',
 'chr19:61080392',
 'chr5:125518861',
 'chr3:116044157',
 'chrX:150992286',
 'chr17:35340193',
 'chr5:104240923',
 'chr1:86272937',
 'chr7:99127507',
 'chr6:35487775',
 'chr4:33019428',
 'chr4:52460289',
 'chr16:90757492',
 'chr4:129216583',
 'chr4:126644073',
 'chr12:102445995',
 'chr7:73207897',
 'chr10:81204063',
 'chr15:79671726',
 'chr7:16650855',
 'chr7:24677777',
 'chr4:133225789',
 'chr5:77555728',
 'chr16:16235099',
 'chr19:21258885',
 'chr3:96154279',
 'chr4:137691915',
 'chr6:91142578',
 'chr17:10430498',
 'chr12:100173657',
 'chr8:31640608',
 'chr12:36064755',
 'chr15:98542165',
 'chr9:119757006',
 'chr15:27593695',
 'chr17:35456112',
 'chr16:18444153',
 'chr8:70960952',
 'chr6:118131722',
 'chr9:67126598',
 'chr19:10012084',
 'chr9:67299853',
 'chr13:78337795',
 'chr5:137286591',
 'chr1:138784426',
 'chr16:43906060',
 'chr18:82602573',
 'chr3:84069941',
 'chrX:72717392',
 'chr11:120701557',
 'chr11:86617220',
 'chr2:18052434',
 'chr8:95821116',
 'chr4:138184576',
 'chr1:165695364',
 'chr7:44824424',
 'chr7:19431473',
 'chr8:71211153',
 'chr17:26727120',
 'chr1:75191652',
 'chr12:53195631',
 'chr2:164303265',
 'chr7:19430449',
 'chr6:116629194',
 'chr16:27207843',
 'chr13:14228102',
 'chr11:19971230',
 'chr17:75313104',
 'chr7:121306450',
 'chr6:125290794',
 'chr1:132288830',
 'chr10:67724823',
 'chr7:118445288',
 'chr5:122242923',
 'chr4:141589194',
 'chr16:18441745',
 'chr9:49428871',
 'chr3:104725395',
 'chr12:85389412',
 'chr6:142438282',
 'chr19:12772505',
 'chr10:127073177',
 'chr6:113469849',
 'chr5:88798173',
 'chr9:57552718',
 'chr4:124928049',
 'chr11:106458280',
 'chr17:57394477',
 'chr7:30134740',
 'chr6:5164038',
 'chr15:98029989',
 'chr10:72510460',
 'chr17:40158100',
 'chr2:126734832',
 'chr7:16650718',
 'chr7:27521453',
 'chrX:10448421',
 'chr3:96565549',
 'chr10:59184190',
 'chr2:131779607',
 'chr11:68979970',
 'chr1:180995269',
 'chr5:136159145',
 'chr16:37706521',
 'chr10:121201131',
 'chr5:88798215',
 'chr11:67575150',
 'chr5:143158773',
 'chr18:82572748',
 'chr5:107507664',
 'chr3:126716331',
 'chr18:35750000',
 'chr9:104003910',
 'chr11:3241185',
 'chr7:59637225',
 'chr10:4971347',
 'chr1:60219811',
 'chr4:126637815',
 'chr15:36771420',
 'chr16:20050923',
 'chr17:6356566',
 'chr19:8717820',
 'chr17:24657930',
 'chr11:7124002',
 'chr8:96440978',
 'chr8:123821306',
 'chr19:7564242',
 'chr12:84965679',
 'chr13:74471034',
 'chr17:57352404',
 'chr6:71369465',
 'chr7:45031690',
 'chr8:21545077',
 'chr7:126465863',
 'chr2:158225610',
 'chr10:81395355',
 'chr10:57393193',
 'chr2:136600231',
 'chr1:137992224',
 'chr11:100849231',
 'chr15:82778860',
 'chr17:85097889',
 'chr14:52246420',
 'chr12:79128122',
 'chr11:51491302',
 'chr9:19559804',
 'chr9:20780026',
 'chr10:128540734',
 'chr17:46555563',
 'chr4:152476737',
 'chr19:14574900',
 'chr18:20818077',
 'chr11:51491241',
 'chr7:33832310',
 'chr18:61103091',
 'chr13:34258446',
 'chr6:86364779',
 'chr5:135939389',
 'chr2:32108688',
 'chr17:57394538',
 'chr5:62760867',
 'chr19:5849226',
 'chr7:4644096',
 'chr14:122712906',
 'chr7:27231637',
 'chr7:24709980',
 'chr19:8899278',
 'chr6:113508490',
 'chr7:25320334',
 'chr7:24697035',
 'chr18:90558111',
 'chr4:129005543',
 'chr15:82061619',
 'chr9:107403367',
 'chr3:94331105',
 'chr6:35488014',
 'chr5:35436510',
 'chr17:30224222',
 'chr5:73426006',
 'chr2:69727732',
 'chr10:81401784',
 'chr5:30781041',
 'chr9:31060957',
 'chr11:60701867',
 'chr1:52203772',
 'chr4:41519070',
 'chr6:142535683',
 'chrX:51057894',
 'chr7:101472176',
 'chr1:93740434',
 'chr4:43021713',
 'chr2:155617378',
 'chr1:59952737',
 'chr13:67854548',
 'chr8:106930988',
 'chr4:126638176',
 'chr10:57392600',
 'chr11:77361795',
 'chr16:43430757',
 'chr6:125118043',
 'chr1:134260210',
 'chr1:34511237',
 'chr15:98704016',
 'chr15:99307791',
 'chr1:131859256',
 'chr11:3444949',
 'chr10:79596887',
 'chr2:158606924',
 'chr11:67702412',
 'chr4:106173850',
 'chr11:116429303',
 'chr11:96708518',
 'chr7:27235330',
 'chr11:4652058',
 'chr7:142777747',
 'chr5:136596260',
 'chr16:17389258',
 'chr5:66834407',
 'chr6:36718250',
 'chr2:132152469',
 'chr8:111909283',
 'chr19:45967092',
 'chr15:34083298',
 'chr2:73490051',
 'chr4:149037186',
 'chr1:191353916',
 'chr6:124726202',
 'chr17:37385116',
 'chr17:40157393',
 'chr7:110655317',
 'chr4:147959174',
 'chr4:138184828',
 'chr5:111535909',
 'chr7:79875853',
 'chr11:72281587',
 'chr2:180955999',
 'chr2:179619581',
 'chr1:23961392',
 'chr6:17340902',
 'chr12:69244840',
 'chr5:92154161',
 'chr6:108459907',
 'chr9:59299975',
 'chr5:114961437',
 'chr19:6327021',
 'chr2:118967638',
 'chr2:158606941',
 'chr9:119757011',
 'chr10:72510419',
 'chr18:61118444',
 'chr5:143513566',
 'chr9:108140865',
 'chr16:18441973',
 'chr14:121616434',
 'chr19:10425761',
 'chr2:127112474',
 'chr19:8982526',
 'chr5:121683456',
 'chr15:98030067',
 'chr19:43488934',
 'chr17:26300666',
 'chr16:55642231',
 'chr1:93335733',
 'chrX:36059366',
 'chr2:152239565',
 'chr4:43562131',
 'chr15:8388428',
 'chr4:117768985',
 'chrX:7789319',
 'chr8:72039265',
 'chr1:153778721',
 'chr2:158226888',
 'chr11:97606068',
 'chr4:118229442',
 'chr8:65045943',
 'chr18:82603273',
 'chr4:105014732',
 'chr11:7123848',
 'chrX:10445609',
 'chr16:42112707',
 'chr1:153778688',
 'chr9:57350043',
 'chr11:7121511',
 'chr7:123582445',
 'chr4:116976715',
 'chr5:143158771',
 'chr14:57028300',
 'chr8:26216548',
 'chr5:115783860',
 'chr8:123931201',
 'chr17:26335869',
 'chr9:37456404',
 'chr2:136600244',
 'chr15:98542156',
 'chr19:5102686',
 'chr15:76059636',
 'chr3:96485543',
 'chr19:5143047',
 'chr9:106111315',
 'chr4:45397683',
 'chr2:32041255',
 'chr1:55118281',
 'chr19:9065301',
 'chr9:121812200',
 'chr16:10103422',
 'chr1:151227335',
 'chr13:33005090',
 'chr7:81221185',
 'chr11:75912077',
 'chr11:60701869',
 'chr5:29824631',
 'chr1:131859271',
 'chr18:82603302',
 'chr11:72668229',
 'chrX:73058624',
 'chr16:84752165',
 'chr14:103214953',
 'chr7:18994799',
 'chr17:57388590',
 'chr12:83721154',
 'chr19:6952659',
 'chr9:21016403',
 'chr18:35047227',
 'chrX:72822601',
 'chrX:101612929',
 'chr9:114210714',
 'chr19:9065302',
 'chr8:85356330',
 'chr2:26906489',
 'chr6:124746445',
 'chr17:34136406',
 'chr9:123291096',
 'chr7:123582439',
 'chr9:44318186',
 'chr14:14413497',
 'chr18:82591006',
 'chr4:137691909',
 'chr12:100173012',
 'chr5:114946997',
 'chrX:93582300',
 'chr5:33184997',
 'chr11:66955545',
 'chr16:91200627',
 'chr2:26526219',
 'chr16:43906117',
 'chr18:61118060',
 'chr17:35456099',
 'chr5:101971004',
 'chr9:72366491',
 'chr3:95452837',
 'chr3:22131008',
 'chr7:16650651',
 'chrX:7786250',
 'chr10:72509934',
 'chr7:19430540',
 'chr9:123291124',
 'chrX:7788664',
 'chr5:35739297',
 'chr11:69558048',
 'chr19:6952691',
 'chr10:34174510',
 'chr11:69221640',
 'chr8:95506743',
 'chr7:28010398',
 'chr10:80450860',
 'chr11:51647387',
 'chr2:119068675',
 'chr6:72826474',
 'chr2:180361275',
 'chr11:60429337',
 'chrX:8759138',
 'chr14:103214945',
 'chrX:134702437',
 'chr7:45443177',
 'chr16:18444173',
 'chr1:175510516',
 'chr12:111637760',
 'chr3:95135418',
 'chr15:89172813',
 'chr15:81709090',
 'chrX:7788643',
 'chr1:19305236',
 'chr18:82602498',
 'chrX:20717916',
 'chr2:24945701',
 'chr5:111535905',
 'chr3:96485627',
 'chr7:16649635',
 'chr7:126624787',
 'chr8:96591631',
 'chr4:8607122',
 'chr2:65597290',
 'chr6:38583193',
 'chr7:30140487',
 'chr9:82994292',
 'chr7:98352583',
 'chr15:79709661',
 'chr15:96316195',
 'chr13:58557842',
 'chr6:127928962',
 'chr7:12719454',
 'chr7:98918306',
 'chr9:106092146',
 'chr3:88653497',
 'chr6:38583149',
 'chr12:113126843',
 'chrX:134968363',
 'chr7:127306436',
 'chr5:104240947',
 'chr8:95506285',
 'chr2:118987007',
 'chr3:79363739',
 'chr7:127181935',
 'chr6:124891084',
 'chr18:61118382',
 'chr3:95568358',
 'chr19:5143048',
 'chr17:74880587',
 'chr18:86731184',
 'chr18:82593734',
 'chr10:82588334',
 'chr5:66837005',
 'chr7:18787921',
 'chr7:29834216',
 ...}

In [32]:
len(m5C_pos)

16279

In [33]:
# filter out position involved into m5C known variations from dataframes
wt_ed_pos = wt_ed_pos.difference(m5C_pos)
ko_ed_pos = ko_ed_pos.difference(m5C_pos)

In [34]:
len(wt_ed_pos)

1591

In [35]:
len(ko_ed_pos)

1189

In [36]:
# produce pandas dataframe
wt_filtered = pd.merge(wt, pd.DataFrame([[i.split(":")[0],int(i.split(":")[1]) ] for i in list(wt_ed_pos)], columns=["region", "position"]), how="inner")
wt_filtered

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4915457,+,4,2,51,0.078431,0.039216,TACTA,1,0.000047
1,chr1,4915694,+,7,2,51,0.137255,0.039216,TACTA,1,0.000521
2,chr1,4916328,+,2,2,60,0.033333,0.033333,ATCTT,1,0.000028
3,chr1,4916336,+,20,18,67,0.298507,0.268657,GCCGA,1,0.000316
4,chr1,4916406,+,3,3,67,0.044776,0.044776,GACTT,1,0.000099
...,...,...,...,...,...,...,...,...,...,...,...
1586,chrX,141022514,+,4,1,54,0.074074,0.018519,AACAG,1,0.000286
1587,chrX,141022655,+,3,1,52,0.057692,0.019231,AACTT,1,0.000013
1588,chrX,153996147,-,8,1,62,0.129032,0.016129,TACTC,1,0.000004
1589,chrX,158165691,+,6,4,125,0.048000,0.032000,ATCAA,1,0.000734
1590,chrX,161555354,+,4,2,133,0.030075,0.015038,AACTT,1,0.005799

In [37]:
wt_filtered.describe()

,position,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,y_hat,p_value
count,1.591000e+03,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.0,1.591000e+03
mean,7.427040e+07,15.117536,5.456945,168.375236,0.082982,0.031778,1.0,2.328918e-03
std,4.424986e+07,68.775613,28.367343,704.419366,0.073526,0.031466,0.0,2.680755e-03
min,1.648000e+03,1.000000,1.000000,51.000000,0.010101,0.010101,1.0,7.332901e-08
25%,3.750930e+07,3.000000,1.000000,63.000000,0.034153,0.014706,1.0,2.135126e-04
50%,7.126224e+07,5.000000,2.000000,79.000000,0.060976,0.019802,1.0,1.130060e-03
75%,1.082044e+08,11.000000,4.000000,111.000000,0.108792,0.036854,1.0,3.642209e-03
max,1.947934e+08,1340.000000,691.000000,11837.000000,0.771084,0.590361,1.0,9.992778e-03

In [38]:
# produce pandas dataframe
ko_filtered = pd.merge(ko, pd.DataFrame([[i.split(":")[0],int(i.split(":")[1]) ] for i in list(ko_ed_pos)], columns=["region", "position"]), how="inner")
ko_filtered

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4916252,+,3,1,91,0.032967,0.010989,AACAC,1,0.000367
1,chr1,4916336,+,24,20,104,0.230769,0.192308,GCCGA,1,0.000316
2,chr1,4967787,+,11,5,133,0.082707,0.037594,AACAT,1,0.004150
3,chr1,5206037,+,1,1,83,0.012048,0.012048,CTCAT,1,0.000248
4,chr1,5232494,+,24,3,68,0.352941,0.044118,TTCTG,1,0.000028
...,...,...,...,...,...,...,...,...,...,...,...
1184,chrX,135633974,-,8,3,184,0.043478,0.016304,TGCAT,1,0.001077
1185,chrX,141022343,+,8,1,54,0.148148,0.018519,CTCAT,1,0.002212
1186,chrX,161555354,+,7,7,175,0.040000,0.040000,AACTT,1,0.005799
1187,chrX,161560774,+,8,2,176,0.045455,0.011364,TTCAT,1,0.008214
1188,chrX,161561750,+,27,5,202,0.133663,0.024752,AACAC,1,0.004498

In [39]:
ko_filtered.describe()

,position,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,y_hat,p_value
count,1.189000e+03,1189.000000,1189.000000,1189.000000,1189.000000,1189.000000,1189.0,1.189000e+03
mean,7.468330e+07,16.702271,5.305299,202.449958,0.087206,0.030084,1.0,2.634941e-03
std,4.567092e+07,64.275636,20.822243,938.087190,0.079584,0.032349,0.0,2.863074e-03
min,1.648000e+03,1.000000,1.000000,51.000000,0.010101,0.010101,1.0,2.566249e-07
25%,3.719917e+07,3.000000,1.000000,61.000000,0.034483,0.014706,1.0,3.552543e-04
50%,7.138578e+07,5.000000,2.000000,77.000000,0.062500,0.018868,1.0,1.326198e-03
75%,1.081754e+08,12.000000,4.000000,116.000000,0.115385,0.035714,1.0,4.264825e-03
max,1.947934e+08,973.000000,428.000000,13092.000000,0.772152,0.588608,1.0,9.987688e-03

In [40]:
# save to disk
wt_filtered.to_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr/wt_ko/wt_ko.CNN_wavenet_08/wt_CNNwavenet_and_SNP_m5C_filtered_snp142.apobec1.tsv", sep="\t")
ko_filtered.to_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr/wt_ko/wt_ko.CNN_wavenet_08/ko_CNNwavenet_and_SNP_m5C_filtered_snp142.apobec1.tsv", sep="\t")

In [41]:
intersection = pd.merge(wt_filtered, ko_filtered, how="inner", on=["region", "position", "strand"])[["region", "position", "strand"]]
intersection

    region   position strand
0     chr1    4916336      +
1     chr1    4967787      +
2     chr1   13635485      -
3     chr1   39590495      -
4     chr1   39590524      -
..     ...        ...    ...
367   chrX  100491909      +
368   chrX  105065473      +
369   chrX  135633808      -
370   chrX  135633812      -
371   chrX  161555354      +

[372 rows x 3 columns]

In [42]:
# lest's evaluate the presence of well known chr2:121983221/3 sites in wt and ko
wt_filtered.query("region == 'chr2'").query("position == 121983221")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
830,chr2,121983221,+,254,9,851,0.298472,0.010576,TACAC,1,0.004419

In [43]:
wt_filtered.query("region == 'chr2'").query("position == 121983223")

Empty DataFrame
Columns: [region, position, strand, T_native, T_corrected, depth_stranded, Tfreq_native, Tfreq_corrected, 5mer, y_hat, p_value]
Index: []

In [44]:
ko_filtered.query("region == 'chr2'").query("position == 121983221")

Empty DataFrame
Columns: [region, position, strand, T_native, T_corrected, depth_stranded, Tfreq_native, Tfreq_corrected, 5mer, y_hat, p_value]
Index: []

In [45]:
ko_filtered.query("region == 'chr2'").query("position == 121983223")

Empty DataFrame
Columns: [region, position, strand, T_native, T_corrected, depth_stranded, Tfreq_native, Tfreq_corrected, 5mer, y_hat, p_value]
Index: []

## Evaluate reliable CtoU editing sites
To eliminate RNA-DNA problems we focused out attention on sites that are modified in WT but that are not in KO sample

In [46]:
# we are interested in sites that on KO are not edited after correction
ko.query("Tfreq_corrected <= 0.01").describe()

,position,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,y_hat,p_value
count,4.085510e+05,408551.000000,408551.000000,408551.000000,408551.000000,408551.000000,408551.0,4.085510e+05
mean,7.954073e+07,6.188809,0.219796,315.565521,0.029866,0.000525,0.0,8.898624e-01
std,4.571870e+07,25.499401,1.496227,839.428933,0.038349,0.001781,0.0,2.980813e-01
min,8.700000e+01,1.000000,0.000000,51.000000,0.000066,0.000000,0.0,9.667981e-10
25%,3.846627e+07,1.000000,0.000000,73.000000,0.009804,0.000000,0.0,1.000000e+00
50%,7.959743e+07,2.000000,0.000000,116.000000,0.017544,0.000000,0.0,1.000000e+00
75%,1.172528e+08,5.000000,0.000000,230.000000,0.035714,0.000000,0.0,1.000000e+00
max,1.948136e+08,3296.000000,175.000000,19536.000000,0.954082,0.010000,0.0,1.000000e+00

In [47]:
# produce a set KO sites that are below 0.01 threshold after correction and are not SNP and/or known m5C sites
ko_NoEd_sites = set()
for site in ko.query("Tfreq_corrected <= 0.01").itertuples():
    ko_NoEd_sites.add(f"{site[1]}:{site[2]}")
# filters SNPs 
ko_NoEd_sites = ko_NoEd_sites.difference(vcf_ed_pos)
# filters out m5C sites
ko_NoEd_sites = ko_NoEd_sites.difference(m5C_pos)
len(ko_NoEd_sites)

400335

In [48]:
# produce a set of not filtered ko CT sites
ko_no_filters = set()
for site in ko.itertuples():
    ko_no_filters.add(f"{site[1]}:{site[2]}")
# filters SNPs 
ko_no_filters = ko_no_filters.difference(vcf_ed_pos)
# filters out m5C sites
ko_no_filters = ko_no_filters.difference(m5C_pos)
len(ko_no_filters)

448159

In [49]:
# sites that results edited on WT after algorithm correction and SNPs-m5C filtering and that are not edited on KO 
# (if covered on both with a depth higher than 50).
reliable_ed_sites = set()

counter = 0
bam_file = pysam.AlignmentFile(ko_bam_filepath)
ref = pysam.FastaFile(ref_filepath)
with tqdm(total=len(wt_ed_pos)) as pbar:
    for site in wt_ed_pos:
        if site in ko_NoEd_sites:
            reliable_ed_sites.add(site)
            counter += 1
        else:
            #assess if it is not present at all among CT sites retrieved for KO
            if not site in ko_no_filters:
                # asses if position is covered in ko
                for pileupcolumn in bam_file.pileup(site.split(":")[0], 
                                                    int(site.split(":")[1])-1,
                                                    int(site.split(":")[1]), 
                                                    truncate=True, 
                                                    max_depth=1000000, 
                                                    min_base_quality=0):

                    column = pileupcolumn.get_query_sequences(mark_matches=True, add_indels=True)
                    depth_ = 0
                    for i in [i[0].upper() for i in column]:
                        if i.isupper():
                            depth_ += 1              
                    if depth_ > 50:
                        # asses if there is no editing on this position of KO sample
                        ref_base = ref.fetch(site.split(":")[0], int(site.split(":")[1])-1, int(site.split(":")[1]))
                        if ref_base == "C":
                            if column.count("T") == 0:
                                reliable_ed_sites.add(site)
                                counter += 1
                        elif ref_base == "G":
                            if column.count("a") == 0:
                                reliable_ed_sites.add(site)
                                counter += 1
        pbar.update(1)
# close input files and print total counter of reliable sites retrieved
bam_file.close()         
ref.close()
counter

100%|██████████| 1591/1591 [00:07<00:00, 206.70it/s]

946

In [50]:
len(reliable_ed_sites)

946

In [51]:
# produce pandas dataframe for reliable sites
reliable_ed_sites = pd.merge(wt, pd.DataFrame([[i.split(":")[0],int(i.split(":")[1]) ] for i in list(reliable_ed_sites)], columns=["region", "position"]), how="inner")
reliable_ed_sites

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
0,chr1,4915457,+,4,2,51,0.078431,0.039216,TACTA,1,4.720720e-05
1,chr1,4915694,+,7,2,51,0.137255,0.039216,TACTA,1,5.212852e-04
2,chr1,4916406,+,3,3,67,0.044776,0.044776,GACTT,1,9.861242e-05
3,chr1,4916432,+,3,1,69,0.043478,0.014493,AACAT,1,4.565154e-07
4,chr1,4916454,+,6,3,60,0.100000,0.050000,ATCTT,1,8.767610e-05
...,...,...,...,...,...,...,...,...,...,...,...
941,chrX,135147776,+,15,9,56,0.267857,0.160714,AACTT,1,2.345928e-05
942,chrX,135633733,-,12,3,122,0.098361,0.024590,ATCTT,1,9.604205e-06
943,chrX,135633941,-,16,2,156,0.102564,0.012821,GACGT,1,2.943394e-03
944,chrX,141022655,+,3,1,52,0.057692,0.019231,AACTT,1,1.256081e-05
945,chrX,158165691,+,6,4,125,0.048000,0.032000,ATCAA,1,7.340270e-04

In [52]:
reliable_ed_sites.describe()

,position,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,y_hat,p_value
count,9.460000e+02,946.000000,946.000000,946.000000,946.000000,946.000000,946.0,9.460000e+02
mean,7.602628e+07,10.737844,3.792812,139.448203,0.064109,0.023839,1.0,2.235417e-03
std,4.482957e+07,61.898492,25.311047,548.767159,0.058456,0.017547,0.0,2.633749e-03
min,1.692000e+03,1.000000,1.000000,51.000000,0.010101,0.010101,1.0,7.332901e-08
25%,3.751025e+07,2.000000,1.000000,65.000000,0.028986,0.013514,1.0,1.696791e-04
50%,7.293254e+07,4.000000,2.000000,81.000000,0.049020,0.017534,1.0,1.031615e-03
75%,1.093383e+08,8.000000,3.000000,107.000000,0.079444,0.028777,1.0,3.415117e-03
max,1.947934e+08,1340.000000,691.000000,10281.000000,0.637405,0.160920,1.0,9.992778e-03

In [53]:
# save to disk reliable sites
reliable_ed_sites.to_csv("/lustre/bio_running/C_to_U_editing_minimap2_spliced/src_jupyter_notebooks_multi_thr/wt_ko/wt_ko.CNN_wavenet_08/reliable_ed_sites_CNNwavenet_SNP_m5C_WT_noKO.apobec1.tsv", sep="\t")

In [54]:
# evaluate if among these sites there is the chr2:121983221 
reliable_ed_sites.query("region == 'chr2'").query("position == 121983221")

,region,position,strand,T_native,T_corrected,depth_stranded,Tfreq_native,Tfreq_corrected,5mer,y_hat,p_value
485,chr2,121983221,+,254,9,851,0.298472,0.010576,TACAC,1,0.004419

In [55]:
# evaluate if among these sites there is the chr2:121983223
reliable_ed_sites.query("region == 'chr2'").query("position == 121983223")

Empty DataFrame
Columns: [region, position, strand, T_native, T_corrected, depth_stranded, Tfreq_native, Tfreq_corrected, 5mer, y_hat, p_value]
Index: []

In [56]:
# print overall statistics
print("WT sample - results of CtoU editing events called:")
print(f'\t- ONT native: {wt.shape[0]}')
print(f'\t- ONT CNN corrected: {wt.query("y_hat == 1").shape[0]}')
print(f'\t- ONT CNN corrected and SNP-m5C filtered and APOBEC1 Model selected: {wt_filtered.shape[0]}')
print()
print("KO sample - results of CtoU editing events called:")
print(f'\t- ONT native: {ko.shape[0]}')
print(f'\t- ONT CNN corrected: {ko.query("y_hat == 1").shape[0]}')
print(f'\t- ONT CNN corrected and SNP-m5C filtered and APOBEC1 Model selected: {ko_filtered.shape[0]}')
print()
print(f"Common called editing positions among WT and KO after CNN and SNPs-m5C filtering: {intersection.shape[0]}")
print()
print(f"WT edited sites (algorithm+SNPs+m5C filtered) that are not still edited in KO (on well covered positions): {reliable_ed_sites.shape[0]}")

WT sample - results of CtoU editing events called:
	- ONT native: 331762
	- ONT CNN corrected: 26536
	- ONT CNN corrected and SNP-m5C filtered and APOBEC1 Model selected: 1591

KO sample - results of CtoU editing events called:
	- ONT native: 458321
	- ONT CNN corrected: 28196
	- ONT CNN corrected and SNP-m5C filtered and APOBEC1 Model selected: 1189

Common called editing positions among WT and KO after CNN and SNPs-m5C filtering: 372

WT edited sites (algorithm+SNPs+m5C filtered) that are not still edited in KO (on well covered positions): 946